<div class="bg-white dark:bg-slate-700 shadow">
  <div data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">

    <div class="flex">
      <h2 class="uppercase text-gray-600 flex items-center dark:text-gray-100">
        <%= l(:label_board_plural) %>
      </h2>
    </div>
    <div></div>

    <div class="ml-auto relative flex ">
      <div data-controller="sidebar" class="ml-auto">
        <div data-action="click->sidebar#toggle" class="text-gray-900 mr-3 cursor-pointer flex items-center justify-center bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
          </svg>
        </div>
        <div>
          <%= render :partial => 'messages/sidebar' %>
        </div>
      </div>

      <div data-action="click->contextual#toggleActions" class="text-gray-900 cursor-pointer flex items-center justify-center bg-white  focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
        </svg>
      </div>

      <div class="absolute flex flex-col right-0 shadow rounded-md border border-gray-50 top-10 bg-white z-50 w-60 hidden" data-contextual-target="actions">
        <%= watcher_link(@topic, User.current) %>
        <%= link_to(
          l(:button_quote),
          {:action => 'quote', :id => @topic},
          :method => 'get',
          :class => 'icon icon-comment',
          :remote => true) if !@topic.locked? && authorize_for('messages', 'reply') %>
        <%= link_to(
              l(:button_edit),
              {:action => 'edit', :id => @topic},
              :class => 'icon icon-edit'
            ) if @message.editable_by?(User.current) %>
        <%= link_to(
              l(:button_delete),
              {:action => 'destroy', :id => @topic},
              :method => :post,
              :data => {:confirm => l(:text_are_you_sure)},
              :class => 'icon icon-del'
            ) if @message.destroyable_by?(User.current) %>
      </div>
    </div>
  </div>
</div>

<div class="sm:container sm:mx-auto mx-4 mt-8 flex">
  <%= render :partial => "boards/navigation", :locals => {:boards => Board.where(:project_id => @project.id)}  %>


  <div class=" w-full h-full mx-4 flex flex-col dark:bg-slate-800 dark:hover:bg-slate-700">

    <div class="message bg-white shadow p-8">
      <h3 class="font-medium text-base"><%= @topic.subject %></h3>
      <p class="text-xs text-gray-400 mb-6"><span class="author"><%= authoring @topic.created_on, @topic.author %></span></p>
      <div class="wiki">
      <%= textilizable(@topic, :content) %>
      </div>
      <%= link_to_attachments @topic, :author => false, :thumbnails => true %>
    </div>


    <% unless @replies.empty? %>
      <div id="replies">
        <h3 class="comments icon icon-comments px-8 my-8 text-xs uppercase font-medium"><%= l(:label_reply_plural) %> (<%= @reply_count %>)</h3>

        <% @replies.each do |message| %>
          <div class="message reply my-4 ml-8 shadow bg-white p-8" id="<%= "message-#{message.id}" %>">
            <header class="flex">
              <div class="flex  flex-col font-medium">
                <div class="flex">
                  <%= avatar(message.author) %>
                  <%= link_to message.subject, { :controller => 'messages', :action => 'show', :board_id => @board, :id => @topic, :r => message, :anchor => "message-#{message.id}" } %>
                </div>
                <div class='reply-header text-xs text-gray-400'>
                  <%= authoring message.created_on, message.author %>
                </div>
              </div>
              <div class="contextual flex ml-auto text-gray-700">
                <% if !@topic.locked? && authorize_for('messages', 'reply') %>
                  <%= link_to(
                      {:action => 'quote', :id => message},
                      :remote => true,
                      :method => 'get',
                      :title => l(:button_quote),
                      :class => 'icon icon-comment flex hover:bg-gray-100 p-2 items-center justify-center rounded-full'
                    ) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                    </svg>
                  <% end %>
                <% end %>
                <% if message.editable_by?(User.current) %>
                  <%= link_to(
                        {:action => 'edit', :id => message},
                        :title => l(:button_edit),
                        :class => 'icon icon-edit flex hover:bg-gray-100 p-2 items-center justify-center rounded-full'
                      )  do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                      </svg>
                  <% end %>
                <% end %>
                <% if message.destroyable_by?(User.current) %>
                  <%= link_to(
                      {:action => 'destroy', :id => message},
                      :method => :post,
                      :data => {:confirm => l(:text_are_you_sure)},
                      :title => l(:button_delete),
                      :class => 'icon icon-del flex text-red-600 hover:bg-red-100 p-2 items-center justify-center rounded-full'
                    ) do  %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                  <% end %>
                <% end %>
              </div>
            </header>


          <div class="wiki my-6"><%= textilizable message, :content, :attachments => message.attachments %></div>
          <%= link_to_attachments message, :author => false, :thumbnails => true %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="reply" style="display:none;" class="absolute right-0 w-3/5">
    <%= form_for @reply, :as => :reply, :url => {:action => 'reply', :id => @topic}, :html => {:multipart => true, :id => 'message-form'} do |f| %>
      <%= render :partial => 'form', :locals => {:f => f, :replying => true} %>
      <%= submit_tag l(:button_submit) %>
    <% end %>
  </div>
</div>

<div class="sm:container sm:mx-auto mx-4 mt-8 flex">
  <span class="pagination"><%= pagination_links_full @reply_pages, @reply_count, :per_page_links => false %></span>

  <% if !@topic.locked? && authorize_for('messages', 'reply') %>
    <p id="button-reply" class="mx-4"><%= toggle_link l(:button_reply), "reply", :focus => 'message_content' %></p>
  <% end %>

  <% html_title @topic.subject %>
</div>

