<fieldset class="box">
  <legend><%= l(:redmine_asap_colors_logo_title) %></legend>
  <div class="tabular settings">
    <p>
      <%= label_tag :redmine_asap_colors_logo_bg, l(:redmine_asap_colors_logo_bg) %>
      <%= text_field_tag "settings[redmine_asap_colors_logo_bg]", @settings[:redmine_asap_colors_logo_bg] %>
    </p>
    <p>
      <%= label_tag :redmine_asap_colors_logo_bg_hover, l(:redmine_asap_colors_logo_bg_hover) %>
      <%= text_field_tag "settings[redmine_asap_colors_logo_bg_hover]", @settings[:redmine_asap_colors_logo_bg_hover] %>
    </p>
  </div>
</fieldset>