<div class="grid grid-cols-4 gap-4">
  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond1.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond1.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond2.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond2.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond3.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond3.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond4.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond4.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond5.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond5.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond6.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond6.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond7.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond7.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond8.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond8.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond9.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond9.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond10.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond10.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond11.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond11.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond12.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond12.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond13.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond13.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond14.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond14.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond15.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond15.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond16.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond16.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond17.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond17.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond18.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond18.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond19.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond19.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond20.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond20.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond21.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond21.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond22.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond22.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond23.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond23.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond24.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond24.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond25.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond25.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond26.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond26.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond27.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond27.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond28.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond28.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond29.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond29.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond30.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond30.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond31.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond31.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond32.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond32.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <img src="/plugin_assets/redmine_asap_theme/images/fond33.jpg" alt="" class="mb-4">
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', "/plugin_assets/redmine_asap_theme/images/fond33.jpg", @settings['redmine_asap_login_wallpaper'] %>
  </div>

</div>
