<%= render "repositories/contextual" %>
<div class="sm:container sm:mx-auto mx-4 ">
  <div class="flex">
    <%= render :partial => 'navigation' %>
    <%= call_hook(:view_repositories_show_contextual, { :repository => @repository, :project => @project }) %>
  </div>
  <div  class="bg-white shadow flex flex-col p-8  mx-4 dark:bg-slate-800 dark:hover:bg-slate-700">
    <% if !@entries.nil? && authorize_for('repositories', 'browse') %>
      <%= render :partial => 'dir_list' %>
    <% end %>
  </div>

  <div  class="bg-white shadow flex flex-col p-8 mt-4 mx-4 dark:bg-slate-800 dark:hover:bg-slate-700">
    <%= render_properties(@properties) %>

    <% if authorize_for('repositories', 'revisions') %>
      <% if @changesets && !@changesets.empty? %>
        <h3 class="my-4 font-medium"><%= l(:label_latest_revision_plural) %></h3>
        <%= render :partial => 'revisions',
                  :locals => {:project => @project, :path => @path,
                              :revisions => @changesets, :entry => nil }%>
      <% end %>
      <p>
      <% has_branches = (!@repository.branches.nil? && @repository.branches.length > 0)
        sep = '' %>
      <% if @repository.supports_history? && @path.blank? %>
        <%= link_to l(:label_view_all_revisions), :action => 'revisions', :id => @project,
                    :repository_id => @repository.identifier_param %>
        <% sep = '|' %>
      <% end %>
      <% if @repository.supports_directory_revisions? &&
            ( has_branches || !@path.blank? || !@rev.blank? ) %>
        <%= sep %>
        <%= link_to l(:label_view_revisions),
                      :action => 'changes',
                      :path   => to_path_param(@path),
                      :id     => @project,
                      :repository_id => @repository.identifier_param,
                      :rev    => @rev %>
      <% end %>
      </p>
      <% if @repository.supports_history? %>
        <% content_for :header_tags do %>
          <%= auto_discovery_link_tag(
                      :atom,
                      :action => 'revisions', :id => @project,
                      :repository_id => @repository.identifier_param,
                      :key => User.current.atom_key) %>
      <% end %>

      <% other_formats_links do |f| %>
        <%= f.link_to 'Atom',
                      :url => {:action => 'revisions', :id => @project,
                              :repository_id => @repository.identifier_param,
                              :key => User.current.atom_key} %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% content_for :header_tags do %>
    <%= stylesheet_link_tag "scm" %>
  <% end %>

  <% html_title(l(:label_repository)) -%>
</div>