<div class="border-b  border-gray-100 pb-4 mb-4 flex flex-col md:gap-2">
  <div class="flex flex-col space-y-3">
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
        </svg>
        <%= l(:field_status) %>
      </div>
      <div><span class="rounded px-2.5 py-1 text-xs" style="background-color: <%= @issue.status.bg_color %>;color: <%= @issue.status.text_color %>"><%= @issue.status.name %></span></div>
    </div>
    <% unless @issue.disabled_core_fields.include?('assigned_to_id') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
        <%= l(:field_assigned_to) %>
      </div>
      <div class="hover:bg-gray-50 rounded cursor-pointer"><%= @issue.assigned_to ? link_to_principal(@issue.assigned_to) : "-" %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('start_date') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
        <%= l(:field_start_date) %>
      </div>
      <div class="hover:bg-gray-50 rounded cursor-pointer"><%= format_date(@issue.start_date) %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('due_date') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium  w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
        <%= l(:field_due_date) %>
      </div>
      <div class=" <%= @issue.due_date < User.current.today ? 'text-red-700' : 'text-green-700' unless @issue.due_date.nil?%>"><%= issue_due_date_details(@issue) %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('done_ratio') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 10.5h.375c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125H21M4.5 10.5h6.75V15H4.5v-4.5ZM3.75 18h15A2.25 2.25 0 0 0 21 15.75v-6a2.25 2.25 0 0 0-2.25-2.25h-15A2.25 2.25 0 0 0 1.5 9.75v6A2.25 2.25 0 0 0 3.75 18Z" />
        </svg>

        <%= l(:field_done_ratio) %>
      </div>
      <div class="flex items-center  w-3/5 xl:w-1/2">
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-green-500 h-2.5 rounded-full text-green-50 text-[8px] flex items-center px-2" style="width: <%= @issue.done_ratio%>%"><%= @issue.done_ratio %>%</div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0 2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5" />
        </svg>

        <%= l(:field_priority) %>
      </div>
      <div class=""><%= @issue.priority.name %></div>
    </div>
    <% unless @issue.disabled_core_fields.include?('fixed_version_id') || (@issue.fixed_version.nil? && @issue.assignable_versions.none?) %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
        </svg>

        <%= l(:field_fixed_version) %>
      </div>
      <div class="">
        <span class="bg-red-100 hover:bg-red-200 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
          <%= @issue.fixed_version ? link_to_version(@issue.fixed_version) : "-" %>
        </span>
      </div>
    </div>
    <% end %>

    <% unless @issue.disabled_core_fields.include?('category_id') || (@issue.category.nil? && @issue.project.issue_categories.none?) %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-700 font-medium  w-2/5 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
        </svg>

        <%= l(:field_category) %>
      </div>
      <div class="">
        <%= @issue.category ? @issue.category.name : "-" %>
      </div>
    </div>
    <% end %>
  </div>
</div>