<%= labelled_form_for @issue, :html => {:id => 'issue-form', :multipart => true} do |f| %>
    <%= error_messages_for 'issue', 'time_entry' %>
    <%= render :partial => 'conflict' if @conflict %>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div class="sm:col-span-2 h-fit w-full  flex flex-col">
        <div class="sm:col-span-2 flex flex-col p-8 sm:p-16 dark:bg-gray-800 bg-white shadow ">
          <%= render :partial => 'form', :locals => {:f => f} %>

        </div>
        <% if @issue.notes_addable? %>
          <div class="sm:col-span-2 flex flex-col px-8 mt-8 sm:px-16 py-8 dark:bg-gray-800 bg-white shadow ">
              <legend><%= l(:field_notes) %></legend>
            <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit border border-gray-800',
                  :data => {
                      :auto_complete => true
                  },
                  :no_label => true %>
            <%= wikitoolbar_for 'issue_notes', preview_issue_path(:project_id => @project, :issue_id => @issue) %>

            <% if @issue.safe_attribute? 'private_notes' %>
            <div class="flex items-center my-2">
              <%= f.check_box :private_notes, :no_label => true %> <label for="issue_private_notes" class="ml-2"><%= l(:field_private_notes) %></label>
            </div>
            <% end %>

            <%= call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @notes, :form => f }) %>
          </div>
        <% end %>
      </div>
      <aside class="shadow w-full  p-8 bg-white dark:bg-gray-800 ml-auto overflow-y-auto h-full">
        <%= render :partial => 'issues/form_attributes', :locals => {:f => f} %>
      </aside>
    </div>

    <div class="my-6">
    <%= f.hidden_field :lock_version %>
    <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id %>
    <%= submit_tag l(:button_submit) %>
    <%= link_to(
          l(:button_cancel), issue_path(id: @issue.id),
          :onclick => params[:action] == 'show' ? "$('#update').hide(); return false;" : ''
        ) %>
    <%= hidden_field_tag 'prev_issue_id', @prev_issue_id if @prev_issue_id %>
    <%= hidden_field_tag 'next_issue_id', @next_issue_id if @next_issue_id %>
    <%= hidden_field_tag 'issue_position', @issue_position if @issue_position %>
    <%= hidden_field_tag 'issue_count', @issue_count if @issue_count %>
    <div>

<% end %>
