<%= labelled_fields_for :issue, @issue do |f| %>
<%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>
<%= hidden_field_tag 'form_update_triggered_by', '' %>
<%= hidden_field_tag 'back_url', params[:back_url], :id => nil if params[:back_url].present? %>


<div id="tabs" data-controller="tabs"  data-tabs-default-tab-value="general" class="flex flex-col h-full">
  <section class="flex border-b border-gray-200 overflow-x-auto">
    <div data-tabs-target="btn" id="general" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
      <div><%= l(:label_issue_general) %></div>
    </div>
    <div data-tabs-target="btn" id="relations" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
      <div><%= l(:label_issue_relations) %></div>
    </div>
    <div data-tabs-target="btn" id="progress" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
      <div><%= l(:label_issue_progress) %></div>
    </div>
    <div data-tabs-target="btn" id="the_watchers" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
      <div class="flex"><span><%= l(:label_issue_watchers) %></span><span class="ml-1">(<%= @issue.watcher_users.size %>)</span></div>
    </div>
    <div data-tabs-target="btn" id="others" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
      <div><%= l(:label_issue_others) %></div>
    </div>
  </section>
  <section class="my-6">
    <div data-tabs-target="tab" id="general" class="space-y-6">
      <% if @issue.safe_attribute? 'is_private' %>
        <div id="issue_is_private_wrap" class="w-full flex">
          <div class=" ml-auto">
            <%= f.check_box :is_private, :no_label => true %>
            <label class="inline" for="issue_is_private" id="issue_is_private_label"><%= l(:field_is_private) %></label>
          </div>
        </div>
      <% end %>
      <% if @issue.safe_attribute?('tracker_id') || (@issue.persisted? && @issue.tracker_id_changed?) %>
        <div class="flex flex-col text-gray-600 font-light space-y-2">
          <%= f.select :tracker_id, trackers_options_for_select(@issue), {:required => true},
                      :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)",
                      :title => @issue.tracker.description, class: "form-select px-4 py-2 rounded" %>
          <%= content_tag 'a', l(:label_open_trackers_description), :class => 'icon-only icon-help', :title => l(:label_open_trackers_description), :onclick => "showModal('trackers_description', '500px'); return false;", :href => '#' if trackers_for_select(@issue).any? {|t| t.description.present? } %>
        </div>
        <%= render partial: 'issues/trackers_description', locals: {trackers: trackers_for_select(@issue)} %>
      <% end %>
      <% if @issue.safe_attribute?('status_id') && @allowed_statuses.present? %>
      <p>
        <%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}), {:required => true},
          :onchange => "updateIssueFrom('#{escape_javascript(update_issue_form_path(@project, @issue))}', this)",
          :title => @issue.status.description %>
        <%= content_tag 'a', l(:label_open_issue_statuses_description), :class => 'icon-only icon-help', :title => l(:label_open_issue_statuses_description), :onclick => "showModal('issue_statuses_description', '500px'); return false;", :href => '#' if @allowed_statuses.any? {|s| s.description.present? } %>
        <% if @issue.transition_warning %>
          <span class="icon-only icon-warning" title="<%= @issue.transition_warning %>"><%= @issue.transition_warning %></span>
        <% end %>
      </p>
      <%= render partial: 'issues/issue_status_description', locals: { issue_statuses: @allowed_statuses } %>
      <%= hidden_field_tag 'was_default_status', @issue.status_id, :id => nil if @issue.status == @issue.default_status %>
      <% else %>
      <p><label><%= l(:field_status) %></label> <%= @issue.status %></p>
      <% end %>
      <% if @issue.safe_attribute? 'priority_id' %>
      <p><%= f.select :priority_id, (@priorities.collect {|p| [p.name, p.id]}), {:required => true} %></p>
      <% end %>

      <% if @issue.safe_attribute? 'assigned_to_id' %>
      <p>
        <%= f.select :assigned_to_id, principals_options_for_select(@issue.assignable_users, @issue.assigned_to),
                        :include_blank => true, :required => @issue.required_attribute?('assigned_to_id') %>
        <% if @issue.assignable_users.include?(User.current) %>
          <a class="assign-to-me-link<%= ' hidden' if @issue.assigned_to_id == User.current.id %>" href="#" data-id="<%= User.current.id %>"><%= l(:label_assign_to_me) %></a>
        <% end %>
      </p>
      <% end %>

      <% if @issue.safe_attribute?('fixed_version_id') && @issue.assignable_versions.any? %>
      <p><%= f.select :fixed_version_id, version_options_for_select(@issue.assignable_versions, @issue.fixed_version),
                      :include_blank => true, :required => @issue.required_attribute?('fixed_version_id') %>
      <%= link_to(l(:label_version_new),
                  new_project_version_path(@issue.project),
                  :remote => true,
                  :method => 'get',
                  :title => l(:label_version_new),
                  :tabindex => 200,
                  :class => 'icon-only icon-add'
                ) if User.current.allowed_to?(:manage_versions, @issue.project) %>
      </p>
      <% end %>
    </div>
    <div data-tabs-target="tab" id="relations" class="space-y-6">
      <% projects = projects_for_select(@issue) %>
      <% if (@issue.safe_attribute?('project_id') || @issue.project_id_changed?) && (@project.nil? || projects.length > 1 || @issue.copy?) %>
        <div class="flex flex-col text-gray-600 font-light space-y-2">
          <%= f.select :project_id, project_tree_options_for_select(projects, :selected => @issue.project), {:required => true},
                        :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %>
        </div>
      <% end %>

      <% if @issue.safe_attribute?('category_id') && @issue.project.issue_categories.any? %>
      <p><%= f.select :category_id, (@issue.project.issue_categories.collect {|c| [c.name, c.id]}),
                      {:include_blank => true, :required => @issue.required_attribute?('category_id')},
                      :onchange => ("updateIssueFrom('#{escape_javascript(update_issue_form_path(@project, @issue))}', this)" if @issue.new_record?) %>
      <%= link_to(l(:label_issue_category_new),
                  new_project_issue_category_path(@issue.project),
                  :remote => true,
                  :method => 'get',
                  :title => l(:label_issue_category_new),
                  :tabindex => 200,
                  :class => 'icon-only icon-add'
                ) if User.current.allowed_to?(:manage_categories, @issue.project) %></p>
      <% end %>

      <% if @issue.safe_attribute? 'parent_issue_id' %>
      <p id="parent_issue"><%= f.text_field :parent_issue_id, :size => 10,
                                            :required => @issue.required_attribute?('parent_issue_id'),
                                            :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %></p>
      <%= javascript_tag "observeAutocompleteField('issue_parent_issue_id', '#{escape_javascript(auto_complete_issues_path(:project_id => @issue.project, :scope => Setting.cross_project_subtasks, :status => @issue.closed? ? 'c' : 'o', :issue_id => @issue.id))}')" %>
      <% end %>


    </div>
    <div data-tabs-target="tab" id="progress" class="space-y-6">
      <% if @issue.safe_attribute?('done_ratio') && Issue.use_field_for_done_ratio? %>
      <p><%= f.select :done_ratio, ((0..10).to_a.collect {|r| ["#{r*10} %", r*10] }), :required => @issue.required_attribute?('done_ratio') %></p>
      <% end %>

      <% if @issue.safe_attribute? 'estimated_hours' %>
      <p><%= f.hours_field :estimated_hours, :size => 3, :required => @issue.required_attribute?('estimated_hours') %> <%= l(:field_hours) %></p>
      <% end %>

      <% if !@issue.new_record? && User.current.allowed_to?(:log_time, @issue.project) %>
        <fieldset class="tabular" id="log_time"><legend><%= l(:button_log_time) %></legend>
          <%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
          <div class="splitcontent grid grid-cols-2 gap-4">
          <div class="splitcontentleft">
          <p><%= time_entry.hours_field :hours, :size => 6, :label => :label_spent_time %> <%= l(:field_hours) %></p>
          </div>
          <div class="splitcontentright">
          <p><%= time_entry.select :activity_id, activity_collection_for_select_options %></p>
          </div>
          </div>
          <p><%= time_entry.text_field :comments, :size => 60 %></p>
          <% @time_entry.editable_custom_field_values.each do |value| %>
            <p><%= custom_field_tag_with_label :time_entry, value %></p>
          <% end %>
          <% end %>
      </fieldset>
      <% end %>
    </div>
    <div data-tabs-target="tab" id="the_watchers" class="space-y-6">
      <% if !@issue.attributes_editable? && User.current.allowed_to?(:add_issue_watchers, @issue.project) %>
        <%= update_data_sources_for_auto_complete({users: watchers_autocomplete_for_mention_path(project_id: @issue.project, q: '', object_type: 'issue',
                                                                                                object_id: @issue.id)}) %>
      <% end %>
      <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
      (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
        <div id="watchers">
          <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
        </div>
      <% end %>
      <%= render :partial => 'issues/watchers_form' %>

    </div>
    <div data-tabs-target="tab" id="others" class="space-y-6">
      <% if @issue.safe_attribute? 'custom_field_values' %>
        <%= render :partial => 'issues/form_custom_fields' %>
      <% end %>
    </div>
  </section>
</div>




<div id="attributes" class="attributes">
  <%= render :partial => 'issues/attributes' %>
</div>

<%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>
<% end %>

<% heads_for_wiki_formatter %>
<%= heads_for_auto_complete(@issue.project) %>

<% if User.current.allowed_to?(:add_issue_watchers, @issue.project)%>
  <%= update_data_sources_for_auto_complete({users: watchers_autocomplete_for_mention_path(project_id: @issue.project, q: '', object_type: 'issue',
   object_id: @issue.id)}) %>
<% end %>

<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
  $(".assign-to-me-link").click(function(event){
    event.preventDefault();
    var element = $(event.target);
    $('#issue_assigned_to_id').val(element.data('id'));
    element.hide();
  });
  $('#issue_assigned_to_id').change(function(event){
    var assign_to_me_link = $(".assign-to-me-link");

    if (assign_to_me_link.length > 0) {
      var user_id = $(event.target).val();
      var current_user_id = assign_to_me_link.data('id');

      if (user_id == current_user_id) {
        assign_to_me_link.hide();
      } else {
        assign_to_me_link.show();
      }
    }
  });
});
<% end %>
