<%= labelled_fields_for :issue, @issue do |f| %>
  <%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>
  <%= hidden_field_tag 'form_update_triggered_by', '' %>
  <%= hidden_field_tag 'back_url', params[:back_url], :id => nil if params[:back_url].present? %>



  <div class="flex flex-col">

    <% if @issue.safe_attribute? 'subject' %>
    <div class="flex flex-col w-full mb-6"><%= f.text_field :subject, class: 'form-textarea', :size => 80, :maxlength => 255, :required => true %></div>
    <% end %>

  <% if @issue.safe_attribute? 'description' %>
    <div>
      <%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
      <%= content_tag 'span', :id => "issue_description_and_toolbar" do %>
        <%= f.text_area :description, :cols => 60, :accesskey => accesskey(:edit), :class => 'wiki-edit form-textarea',
                      :rows => [[10, @issue.description.to_s.length / 50].max, 20].min,
                      :data => {
                          :auto_complete => true,
                      },
                      :no_label => true %>
      <% end %>
      </div>
    <%= wikitoolbar_for 'issue_description', preview_issue_path(:project_id => @issue.project, :issue_id => @issue.id) %>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6">
    <% if @issue.safe_attribute? 'start_date' %>
    <p id="start_date_area" class="mr-3">
      <%= f.date_field(:start_date, :size => 10, :required => @issue.required_attribute?('start_date')) %>
      <%= calendar_for('issue_start_date') %>
    </p>
    <% end %>

    <% if @issue.safe_attribute? 'due_date' %>
    <p id="due_date_area">
      <%= f.date_field(:due_date, :size => 10, :required => @issue.required_attribute?('due_date')) %>
      <%= calendar_for('issue_due_date') %>
    </p>
    <% end %>
  </div>

  <div class="flex flex-col">
    <div id="attachments_form" class="bg-gray-50 rounded p-4 flex">
      <label><%= l(:label_attachment_plural) %></label>

      <%= render :partial => 'attachments/form', :locals => {:container => @issue} %>
    </div>

    <% if @issue.attachments.any? && @issue.safe_attribute?('deleted_attachment_ids') %>
    <div class="contextual"><%= link_to l(:label_edit_attachments), '#', :onclick => "$('#existing-attachments').toggle(); return false;" %></div>
    <div id="existing-attachments" style="<%= @issue.deleted_attachment_ids.blank? ? 'display:none;' : '' %>">
      <% @issue.attachments.each do |attachment| %>
      <span class="existing-attachment">
        <%= text_field_tag '', attachment.filename, :class => "icon icon-attachment filename", :disabled => true %>
        <label>
          <%= check_box_tag 'issue[deleted_attachment_ids][]',
                            attachment.id,
                            @issue.deleted_attachment_ids.include?(attachment.id),
                            :id => nil, :class => "deleted_attachment" %> <%= l(:button_delete) %>
        </label>
      </span>
      <% end %>
      <hr />
    </div>
  <% end %>
  </div>



  </div>
  <%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>
<% end %>

<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
  $(".assign-to-me-link").click(function(event){
    event.preventDefault();
    var element = $(event.target);
    $('#issue_assigned_to_id').val(element.data('id'));
    element.hide();
  });
  $('#issue_assigned_to_id').change(function(event){
    var assign_to_me_link = $(".assign-to-me-link");

    if (assign_to_me_link.length > 0) {
      var user_id = $(event.target).val();
      var current_user_id = assign_to_me_link.data('id');

      if (user_id == current_user_id) {
        assign_to_me_link.hide();
      } else {
        assign_to_me_link.show();
      }
    }
  });
});
<% end %>
