<aside data-issue-target="navigation" class="w-72 z-50 shadow bg-white dark:bg-gray-800 fixed top-14 left-0 h-full hidden">
  <div class="flex flex-col h-full overflow-y-auto">

    <% if @issues %>
      <% @issues.each do |issue| %>
        <%= link_to issue_path(issue),data: {turbo: false}, class:"flex flex-col text-gray-900 dark:text-gray-100 hover:bg-gray-50 dark:hover:bg-gray-900 cursor-pointer hover:border-l-2 hover:border-l-blue-800 border-b border-b-gray-50 dark:border-b-gray-600 hover:pl-3.5 p-4 text-sm" do %>
          <div class="flex items-center text-xs">
            <div class="mr-2">#<%= issue.id %></div>
            <%= issue.subject %>
          </div>
          <% if issue.description? %>
          <div class="text-xs text-gray-500 dark:text-gray-100 font-light ml-6">
            <% the_text = textilizable(issue, :description) %>
            <%= the_text.truncate(100) %>
          </div>
          <% end %>
        <% end %>
      <% end %>
      <% end %>
  </div>

  <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
    (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
    <div id="watchers">
      <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
    </div>
  <% end %>
</aside>