
<%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do %>
  <div class="contextual text-xs font-extralight flex flex-col px-4 my-4">
    <h3 class="font-light text-gray-400 uppercase text-xs py-4"><%=l(:label_subtask_plural)%></h3>
    <% left = 0 %>
    <% ancestors = @issue.root? ? [] : @issue.ancestors.visible.to_a %>
    <% ancestors.each do |ancestor| %>
      <%= link_to issue_path(ancestor), class: 'hascontextmenu' do %>
        <div class="flex items-center py-1 " style="padding-left:<%= left%>px">

          <span class="truncate  border-l-2 border-gray-200 pl-2"><%= ancestor.subject %></span>
        </div>
        <% left = left + 3 %>
      <% end %>
    <% end %>

    <div class="flex items-center font-medium rounded w-full hascontextmenu py-1" style="padding-left:<%=left%>px">
      <span class="truncate border-l-2 border-gray-400 pl-2"><%= @issue.subject %></span>
      <% if User.current.allowed_to?(:manage_subtasks, @project) %>
        <div class="ml-auto">
          <%= link_to url_for_new_subtask(@issue), class:'flex cursor-pointer  rounded-full hover:bg-gray-200 text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:hover:bg-gray-700 hover:text-gray-800' do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          <% end %>
        </div>
      <% end %>
    </div>


    <% left = left + 3 %>
      <%#= render_descendants_tree(@issue) unless @issue.leaf? %>
      <%
        manage_relations = User.current.allowed_to?(:manage_subtasks, @issue.project)
        issue_list(
          @issue.descendants.visible.sort_by(&:lft)) do |child, level|
      %>
        <div class="w-full  py-1" style="padding-left:<%=left+level*5%>px">
          <%= link_to issue_path(child), :class => 'flex items-center hascontextmenu' do %>

            <span class="truncate  border-l-2 border-gray-200 pl-2"><%= child.subject %></span>
          <% end %>
        </div>

      <% end %>
  </div>
<% end %>
