<% board_enabled = User.current.pref[:board_view_enabled].to_s == '1' %>
<% view_mode = (board_enabled && params[:view].presence) || 'table' %>
<% if board_enabled %>
<script>
(function() {
  var url = new URL(window.location.href);
  if (url.searchParams.has('view')) {
    localStorage.setItem('issues_view_mode', url.searchParams.get('view'));
  } else {
    var stored = localStorage.getItem('issues_view_mode');
    if (stored === 'board') {
      url.searchParams.set('view', 'board');
      window.location.replace(url.toString());
    }
  }
})();
</script>
<% end %>

<div class="contextual">
  <% if board_enabled %>
  <div class="view-switcher">
    <%= link_to request.params.merge('view' => 'table', 'page' => nil),
          class: "view-switcher__btn#{' active' if view_mode == 'table'}" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 01-1.125-1.125M3.375 19.5h7.5c.621 0 1.125-.504 1.125-1.125m-9.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-7.5A1.125 1.125 0 0112 18.375m9.75-12.75c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125m19.5 0v1.5c0 .621-.504 1.125-1.125 1.125M2.25 5.625v1.5c0 .621.504 1.125 1.125 1.125m0 0h17.25m-17.25 0c0 .621.504 1.125 1.125 1.125h17.25" /></svg>
      Table
    <% end %>
    <%= link_to request.params.merge('view' => 'board', 'page' => nil),
          class: "view-switcher__btn#{' active' if view_mode == 'board'}" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M9 4.5v15m6-15v15m-10.875 0h15.75c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125H4.125C3.504 4.5 3 5.004 3 5.625v12.75c0 .621.504 1.125 1.125 1.125z" /></svg>
      Board
    <% end %>
  </div>
  <% end %>
  <%= render partial: 'issues/toggle_filters_options' %>
  <% if User.current.allowed_to?(:add_issues, @project, :global => true) && (@project.nil? || Issue.allowed_target_trackers(@project).any?) %>
    <%= link_to sprite_icon('add', l(:label_issue_new)), _new_project_issue_path(@project), :class => 'icon icon-add new-issue' %>
  <% end %>
  <%= actions_dropdown do %>
    <% if @project %>
      <%= link_to sprite_icon('summary', l(:field_summary)), project_issues_report_path(@project), :class => 'icon icon-stats' %>
    <% end %>
    <% if User.current.allowed_to?(:import_issues, @project, :global => true) && User.current.allowed_to?(:add_issues, @project, :global => true) %>
      <%= link_to sprite_icon('import', l(:button_import)), new_issues_import_path(:project_id => @project), :class => 'icon icon-import' %>
    <% end %>
    <%= link_to_if_authorized sprite_icon('settings', l(:label_settings)),
                              {:controller => 'projects', :action => 'settings', :id => @project, :tab => 'issues'},
                              :class => 'icon icon-settings' if User.current.allowed_to?(:edit_project, @project) %>
  <% end %>
</div>

<h2><%= @query.new_record? ? l(:label_issue_plural) : @query.name %></h2>
<% html_title(@query.new_record? ? l(:label_issue_plural) : @query.name) %>
<%= @query.persisted? && @query.description.present? ? content_tag('p', @query.description, class: 'subtitle') : '' %>

<%= form_tag(_project_issues_path(@project), :method => :get, :id => 'query_form') do %>
  <%= hidden_field_tag 'view', view_mode if view_mode != 'table' %>
  <%= render :partial => 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @issues.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>

    <% if view_mode == 'board' %>
      <%= render :partial => 'issues/board', :locals => {:issues => @issues, :query => @query, :project => @project} %>
    <% else %>
      <%= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>
      <span class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></span>
    <% end %>
  <% end %>

  <% other_formats_links do |f| %>
    <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '350px'); return false;" %>
    <%= f.link_to_with_query_parameters 'PDF' %>
    <%= f.link_to_with_query_parameters 'Atom', :key => User.current.atom_key %>
  <% end %>

  <div id="csv-export-options" style="display:none;">
    <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
    <%= form_tag(_project_issues_path(@project, :format => 'csv'), :method => :get, :id => 'csv-export-form') do %>
    <%= query_as_hidden_field_tags(@query) %>
    <%= hidden_field_tag('query_name', @query.name) %>
    <p>
      <label><%= radio_button_tag 'c[]', '', true %> <%= l(:description_selected_columns) %></label><br />
      <label><%= radio_button_tag 'c[]', 'all_inline' %> <%= l(:description_all_columns) %></label>
    </p>
    <% if @query.available_block_columns.any? %>
      <fieldset id="csv-export-block-columns">
        <legend><%= toggle_checkboxes_link('#csv-export-block-columns input[type=checkbox]') %></legend>
        <% @query.available_block_columns.each do |column| %>
          <label><%= check_box_tag 'c[]', column.name, @query.has_column?(column), :id => nil %> <%= column.caption %></label>
        <% end %>
      </fieldset>
    <% end %>
    <%= export_csv_encoding_select_tag %>
    <%= export_csv_separator_select_tag %>
    <% if @issue_count > Setting.issues_export_limit.to_i %>
      <p class="icon icon-warning"><%= sprite_icon('warning', l(:setting_issues_export_limit)) %>: <%= Setting.issues_export_limit.to_i %></p>
    <% end %>
    <p class="buttons">
      <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);", :data => { :disable_with => false } %>
      <%= link_to_function l(:button_cancel), "hideModal(this);" %>
    </p>
    <% end %>
  </div>
<% end %>

<%= call_hook(:view_issues_index_bottom, { :issues => @issues, :project => @project, :query => @query }) %>

<% content_for :sidebar do %>
  <%= render :partial => 'issues/sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom,
      {:query_id => @query, :format => 'atom', :page => nil, :key => User.current.atom_key},
      :title => l(:label_issue_plural)) %>
  <%= auto_discovery_link_tag(:atom,
      {:controller => 'journals', :action => 'index', :query_id => @query, :format => 'atom',
       :page => nil, :key => User.current.atom_key},
      :title => l(:label_changes_details)) %>
<% end %>

<%= context_menu %>
