<div data-controller="queries" data-queries-default-tab-value="filters">

  <%= render "contextual" %>


  <div data-queries-target="issuesfilters" class="hidden">
    <% html_title(@query.new_record? ? l(:label_issue_plural) : @query.name) %>

    <%= form_tag(_project_issues_path(@project), :method => :get, :id => 'query_form') do %>
      <%= render :partial => 'queries/query_form' %>
    <% end %>
  </div>

  <% if @query.valid? %>
  <% if @issues.empty? %>
  <div class="my-8 container mx-auto bg-white dark:bg-slate-700 shadow rounded p-4"><%= l(:label_no_data) %></div>
  <% else %>
  <%= render_query_totals(@query) %>
  <div class="my-8 container mx-auto bg-white dark:bg-slate-700 shadow rounded">
    <%= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>
  </div>
  <span class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></span>
  <% end %>

  <div class="container mx-auto pb-16">
    <% other_formats_links do |f| %>
      <%= f.link_to_with_query_parameters 'Atom', :key => User.current.atom_key %>
      <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '350px'); return false;" %>
      <%= f.link_to_with_query_parameters 'PDF' %>
    <% end %>

    <div id="csv-export-options" style="display:none;">
      <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
      <%= form_tag(_project_issues_path(@project, :format => 'csv'), :method => :get, :id => 'csv-export-form') do %>
      <%= query_as_hidden_field_tags(@query) %>
      <p>
        <label><%= radio_button_tag 'c[]', '', true %> <%= l(:description_selected_columns) %></label><br />
        <label><%= radio_button_tag 'c[]', 'all_inline' %> <%= l(:description_all_columns) %></label>
      </p>
      <% if @query.available_block_columns.any? %>
        <fieldset id="csv-export-block-columns">
          <legend>
            <%= toggle_checkboxes_link('#csv-export-block-columns input[type=checkbox]') %>
          </legend>
          <% @query.available_block_columns.each do |column| %>
            <label><%= check_box_tag 'c[]', column.name, @query.has_column?(column), :id => nil %> <%= column.caption %></label>
          <% end %>
        </fieldset>
      <% end %>
      <%= export_csv_encoding_select_tag %>
      <% if @issue_count > Setting.issues_export_limit.to_i %>
      <p class="icon icon-warning">
        <%= l(:setting_issues_export_limit) %>: <%= Setting.issues_export_limit.to_i %>
      </p>
      <% end %>
      <p class="buttons">
        <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);", :data => { :disable_with => false } %>
        <%= link_to_function l(:button_cancel), "hideModal(this);" %>
      </p>
      <% end %>
    </div>

    <% end %>
    <%= call_hook(:view_issues_index_bottom, { :issues => @issues, :project => @project, :query => @query }) %>


    <% content_for :header_tags do %>
        <%= auto_discovery_link_tag(:atom,
                                    {:query_id => @query, :format => 'atom',
                                    :page => nil, :key => User.current.atom_key},
                                    :title => l(:label_issue_plural)) %>
        <%= auto_discovery_link_tag(:atom,
                                    {:controller => 'journals', :action => 'index',
                                    :query_id => @query, :format => 'atom',
                                    :page => nil, :key => User.current.atom_key},
                                    :title => l(:label_changes_details)) %>
    <% end %>

    <%= context_menu %>
  </div>
</div>