<div data-controller="issue" class="bg-white dark:bg-slate-700 shadow">
  <div data-issue-target="section" data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
    <div class="flex h-8 items-center">
      <h2 class="uppercase text-gray-600 flex items-center dark:text-gray-100">
        <%= l(:label_issue_new) %>
      </h2>
    </div>

  </div>
</div>

<div class="w-auto sm:container mx-4 sm:mx-auto mt-8">

    <%= labelled_form_for @issue, :url => _project_issues_path(@project),
                                :html => {:id => 'issue-form', :multipart => true} do |f| %>
      <%= error_messages_for 'issue' %>
      <%= hidden_field_tag 'copy_from', params[:copy_from] if params[:copy_from] %>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <div class="dark:bg-gray-800 sm:col-span-2 h-fit w-full bg-white shadow sm:p-4 flex flex-col">
          <div class="sm:col-span-2 flex flex-col p-8 sm:p-16">
            <%= call_hook(:view_issues_new_top, {:issue => @issue}) %>
            <%= render :partial => 'issues/form', :locals => {:f => f} %>
            <% content_for :header_tags do %>
                <%= robot_exclusion_tag %>
            <% end %>
          </div>

        </div>
        <aside class="shadow w-full  p-8 bg-white dark:bg-gray-800 ml-auto overflow-y-auto h-full">
          <%= render :partial => 'issues/form_attributes', :locals => {:f => f} %>

          <% if @copy_from && Setting.link_copied_issue == 'ask' %>
          <div class="mb-6">
            <label for="link_copy"><%= l(:label_link_copied_issue) %></label>
            <%= check_box_tag 'link_copy', '1', @link_copy %>
          </div>
          <% end %>
          <% if @copy_from && @copy_from.attachments.any? %>
          <div class="mb-6">
            <label for="copy_attachments"><%= l(:label_copy_attachments) %></label>
            <%= check_box_tag 'copy_attachments', '1', @copy_attachments %>
          </div>
          <% end %>
          <% if @copy_from && !@copy_from.leaf? %>
          <div class="mb-6">
            <label for="copy_subtasks"><%= l(:label_copy_subtasks) %></label>
            <%= check_box_tag 'copy_subtasks', '1', @copy_subtasks %>
          </div>
          <% end %>


        </aside>
      </div>
      <div class="flex mt-6 mb-16 justify-end w-full">
        <%= submit_tag l(:button_create) %>
        <% if params[:back_url] && params[:issue] && params[:issue][:parent_issue_id] %>
          <%= submit_tag l(:button_create_and_follow), name: 'follow' %>
        <% end %>
        <%= submit_tag l(:button_create_and_continue), :name => 'continue', class: 'ml-3' %>
      </div>

    <% end %>



  </div>
</div>
