<div class="dark:bg-gray-800 h-fit mr-8 w-full bg-white shadow p-8 md:p-16  mb-8 mt-0 md:mt-8 flex flex-col">
  <%= render_flash_messages %>

  <header class="flex flex-col items-center justify-center">
    <div class="flex w-full border-b border-gray-100 pb-4 items-center">
      <h2 class="flex-none flex w-auto items-center font-medium mr-2">
        <div data-action="click->issue#toggleNavigation" class="cursor-pointer p-2 mr-2 rounded-full hover:bg-gray-100 text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:hover:bg-gray-700 hover:text-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
        <%= issue_heading(@issue) %>
        <div class="flex items-center mx-2">
          <%= issue_status_type_badge(@issue.status) %>
        </div>
        <% if @issue.is_private? %>
          <span class="badge badge-private private mr-2 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
          </span>
        <% end %>
      </h2>

      <div class="ml-auto w-auto">
        <div class="flex justify-end">
          <%= render :partial => 'action_menu' %>
        </div>
      </div>
    </div>
    <div class="my-16 flex flex-col items-center">
      <div class="subject w-full text-center font-medium text-xl">
        <%# render_issue_subject_with_tree(@issue) %>
        <%= @issue.subject %>
      </div>
      <div class="text-xs text-gray-500 author">
        <%= authoring @issue.created_on, @issue.author %>.
        <% if @issue.created_on != @issue.updated_on %>
        <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
        <% end %>
      </div>
    </div>
  </header>




  <div class="<%= @issue.css_classes %> details">


    <div class="gravatar-with-child">
      <%= author_avatar(@issue.author, :size => "50") %>
      <%= assignee_avatar(@issue.assigned_to, :size => "22", :class => "gravatar-child") if @issue.assigned_to %>
    </div>

  <% if @issue.description? %>

  <div class="description">

      <% if @issue.notes_addable? %>
      <div class="w-full flex">
        <%= link_to quoted_issue_path(@issue), :remote => true, :method => 'post', :class => 'icon icon-comment ml-auto' do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-600 hover:text-gray-900">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
          </svg>
        <% end %>
        </div>
      <% end %>


    <div class="wiki mb-8">
    <%= textilizable @issue, :description, :attachments => @issue.attachments %>
    </div>
  </div>
  <% end %>
  <% if @issue.attachments.any? %>

    <p><strong><%=l(:label_attachment_plural)%></strong></p>
    <%= link_to_attachments @issue, :thumbnails => true %>
  <% end %>

  <%= render_full_width_custom_fields_rows(@issue) %>

  <%= call_hook(:view_issues_show_description_bottom, :issue => @issue) %>


  </div>

  <%= render partial: 'action_menu_edit' if User.current.wants_comments_in_reverse_order? %>

  <div id="history">
  <%= render_tabs issue_history_tabs, issue_history_default_tab %>
  </div>

  <%#= render partial: 'action_menu_edit' unless User.current.wants_comments_in_reverse_order? %>

  <% other_formats_links do |f| %>
    <%= f.link_to 'Atom', :url => {:key => User.current.atom_key} %>
    <%= f.link_to 'PDF' %>
  <% end %>

  <% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>

  <% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>

    <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
      (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
      <div id="watchers">
        <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
      </div>
    <% end %>
  <% end %>

  <% content_for :header_tags do %>
      <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.atom_key}, :title => "#{@issue.project} - #{@issue.tracker} ##{@issue.id}: #{@issue.subject}") %>
  <% end %>

  <%= context_menu %>
</div>

<aside class="w-80 shadow bg-gray-50 p-8 bg-white ml-auto fixed top-14 right-0 h-full">


  <div class="space-y-1">
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_status) %></div>
      <div class="w-2/3"><%= @issue.status.name %></div>
    </div>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_priority) %></div>
      <div class="w-2/3"><%= @issue.priority.name %></div>
    </div>
    <% unless @issue.disabled_core_fields.include?('assigned_to_id') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_assigned_to) %></div>
      <div class="w-2/3"><%= @issue.assigned_to ? link_to_principal(@issue.assigned_to) : "-" %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('category_id') || (@issue.category.nil? && @issue.project.issue_categories.none?) %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_category) %></div>
      <div class="w-2/3"><%= @issue.category ? @issue.category.name : "-" %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('fixed_version_id') || (@issue.fixed_version.nil? && @issue.assignable_versions.none?) %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_fixed_version) %></div>
      <div class="w-2/3"><%= @issue.fixed_version ? link_to_version(@issue.fixed_version) : "-" %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('start_date') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_start_date) %></div>
      <div class="w-2/3"><%= format_date(@issue.start_date) %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('due_date') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_due_date) %></div>
      <div class="w-2/3"><%= issue_due_date_details(@issue) %></div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('done_ratio') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_done_ratio) %></div>
      <div class="w-2/3 flex items-center">
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-green-500 h-2.5 rounded-full text-green-50 text-[8px] flex items-center px-2" style="width: <%= @issue.done_ratio%>%"><%= @issue.done_ratio %>%</div>
        </div>
      </div>
    </div>
    <% end %>
    <% unless @issue.disabled_core_fields.include?('estimated_hours') %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_estimated_hours) %></div>
      <div class="w-2/3"><%= issue_estimated_hours_details(@issue) %></div>
    </div>
    <% end %>
    <% if User.current.allowed_to?(:view_time_entries, @project) && @issue.total_spent_hours > 0 %>
    <div class="flex w-full">
      <div class="mr-2 text-gray-400 w-1/3"><%= l(:label_spent_time) %></div>
      <div class="w-2/3"><%= issue_spent_hours_details(@issue) %></div>
    </div>
    <% end %>
  <%= issue_fields_rows do |rows|
    # rows.left l(:field_status), @issue.status.name, :class => 'status'
    # rows.left l(:field_priority), @issue.priority.name, :class => 'priority'

    # unless @issue.disabled_core_fields.include?('assigned_to_id')
    #   rows.left l(:field_assigned_to), (@issue.assigned_to ? link_to_principal(@issue.assigned_to) : "-"), :class => 'assigned-to'
    # end
    # unless @issue.disabled_core_fields.include?('category_id') || (@issue.category.nil? && @issue.project.issue_categories.none?)
    #   rows.left l(:field_category), (@issue.category ? @issue.category.name : "-"), :class => 'category'
    # end
    # unless @issue.disabled_core_fields.include?('fixed_version_id') || (@issue.fixed_version.nil? && @issue.assignable_versions.none?)
    #   rows.left l(:field_fixed_version), (@issue.fixed_version ? link_to_version(@issue.fixed_version) : "-"), :class => 'fixed-version'
    # end

    # unless @issue.disabled_core_fields.include?('start_date')
    #   rows.right l(:field_start_date), format_date(@issue.start_date), :class => 'start-date'
    # end
    # unless @issue.disabled_core_fields.include?('due_date')
    #   rows.right l(:field_due_date), issue_due_date_details(@issue), :class => 'due-date'
    # end
    # unless @issue.disabled_core_fields.include?('done_ratio')
    #   rows.right l(:field_done_ratio), progress_bar(@issue.done_ratio, :legend => "#{@issue.done_ratio}%"), :class => 'progress'
    # end
    # unless @issue.disabled_core_fields.include?('estimated_hours')
    #   rows.right l(:field_estimated_hours), issue_estimated_hours_details(@issue), :class => 'estimated-hours'
    # end
    # if User.current.allowed_to?(:view_time_entries, @project) && @issue.total_spent_hours > 0
    #   rows.right l(:label_spent_time), issue_spent_hours_details(@issue), :class => 'spent-time'
    # end
  end %>
  <%= render_half_width_custom_fields_rows(@issue) %>
  <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
  </div>

  <% if !@issue.leaf? || User.current.allowed_to?(:manage_subtasks, @project) %>
  <hr />
  <div id="issue_tree">
  <%= render :partial => 'subtasks' %>
  </div>
  <% end %>

  <% if @relations.present? || User.current.allowed_to?(:manage_issue_relations, @project) %>
  <hr />
  <div id="relations">
  <%= render :partial => 'relations' %>
  </div>
  <% end %>

</aside>