
<div data-controller="issue" class="">

  <div class="my-8 container mx-auto bg-white dark:bg-slate-700 shadow rounded">
    <div class="dark:bg-gray-800  h-fit w-full bg-white flex flex-col">
      <%= render "issues/issue/header" %>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8  px-12">
        <section class="col-span-2">
          <div class="<%= @issue.css_classes %> details">
            <h2 class="font-medium flex items-center text-lg border-b border-gray-100 pb-4">
              <span class="mr-4"><%= @issue.subject %></span>
              <div class="hidden sm:flex tracker-<%= @issue.tracker.id %>">
                <div class="tracker">
                  <%= issue_heading(@issue) %>
                </div>
              </div>
              <div class=" ml-auto flex ">
                <div class="hidden sm:flex items-center mx-2">
                  <%= issue_status_type_badge(@issue.status) %>
                </div>
                <% if @issue.is_private? %>
                  <span class="badge badge-private private mr-2 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                    </svg>
                  </span>
                <% end %>
              </div>
            </h2>

            <div class="gravatar-with-child">
              <%= author_avatar(@issue.author, :size => "50") %>
              <%= assignee_avatar(@issue.assigned_to, :size => "22", :class => "gravatar-child") if @issue.assigned_to %>
            </div>

            <% if @issue.description? %>
              <div class="description py-2">
                <% if @issue.notes_addable? %>
                  <div class="w-full flex">
                    <%= link_to quoted_issue_path(@issue), :remote => true, :method => 'post', :class => 'icon icon-comment ml-auto' do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-600 hover:text-gray-900">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
                      </svg>
                    <% end %>
                  </div>
                <% end %>
                <div class="wiki mb-8">
                  <%= textilizable @issue, :description, :attachments => @issue.attachments %>
                </div>
              </div>
            <% else %>
              <div class="bg-gray-50 rounded-md p-8 mb-8">
                <%= l(:label_description_empty) %>
              </div>
            <% end %>

            <% if @issue.attachments.any? %>
              <div class="my-8">
                <%= link_to_attachments @issue, :thumbnails => true %>
              </div>
            <% end %>

            <%= render_full_width_custom_fields_rows(@issue) %>
            <%= call_hook(:view_issues_show_description_bottom, :issue => @issue) %>
          </div>

          <%= render partial: 'action_menu_edit' if User.current.wants_comments_in_reverse_order? %>
          <div id="history" class="mt-2 bg-gray-50 py-6">
            <%= render_tabs issue_history_tabs, issue_history_default_tab %>
          </div>
          <div class="sm:container sm:mx-auto mx-4 my-6 px-12">
            <% other_formats_links do |f| %>
              <%= f.link_to 'Atom', :url => {:key => User.current.atom_key} %>
              <%= f.link_to 'PDF' %>
            <% end %>

            <% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>

            <% content_for :header_tags do %>
                <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.atom_key}, :title => "#{@issue.project} - #{@issue.tracker} ##{@issue.id}: #{@issue.subject}") %>
            <% end %>

            <%= context_menu %>

            <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
          </div>
        </section>
        <section class="bg-gray-50 p-8 mb-4">
          <%= render "issues/issue/attributes" %>
        </section>
      </div>
    </div>


  </div>


</div>