<div data-controller="issue" class="bg-white dark:bg-slate-700 shadow">
  <div data-issue-target="section" data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
    <h2 class="flex-none flex w-auto items-center font-medium mr-2">
      <div data-action="click->issue#toggleNavigation" class="cursor-pointer p-2 mr-2 rounded-full hover:bg-gray-100 text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:hover:bg-gray-700 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <%= render :partial => 'issues/sidebar-navigation' %>
      </div>
      <span class="hidden sm:flex"><%= issue_heading(@issue) %></span>
      <div class="hidden sm:flex items-center mx-2">
        <%= issue_status_type_badge(@issue.status) %>
      </div>
      <% if @issue.is_private? %>
        <span class="badge badge-private private mr-2 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
          </svg>
        </span>
      <% end %>
    </h2>
    <div class="relative flex items-center justify-self-center pr-6">
      <% if @issue.editable? %>
        <%= link_to edit_issue_path(@issue),
                    :onclick => 'showAndScrollTo("update", "issue_notes"); return false;',
                    :class => 'action-button-with-icon text-white flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm p-2 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800', :accesskey => accesskey(:edit)  do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
          </svg>
        <% end %>
      <% end %>
    </div>
    <div class="ml-auto w-auto flex relative">
      <%= render :partial => 'action_menu' %>
      <div data-controller="sidebar" class="ml-auto flex">

        <div data-action="click->sidebar#toggle" class="button-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
          </svg>
          <div>
            <%= render :partial => 'issues/sidebar' %>
          </div>
        </div>
      </div>
      <div data-action="click->issue#toggle" class="text-gray-900 cursor-pointer flex items-center justify-center bg-white  focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
        </svg>
      </div>

      <div class="absolute flex flex-col right-0 shadow rounded-md border border-gray-50 top-10 bg-white z-50 w-60 hidden" data-issue-target="actions">
        <%= copy_object_url_link(issue_url(@issue, only_path: false)) %>
        <%= link_to l(:button_delete_object, object_name: l(:label_issue).downcase), issue_path(@issue),
                  :data => {:confirm => issues_destroy_confirmation_message(@issue)},
                  :method => :delete, :class => 'flex items-center text-gray-900 dark:text-gray-100 hover:bg-gray-50 hover:border-l-2 hover:border-blue-800 hover:pl-3.5 px-4 py-2 text-sm' if @issue.deletable? %>
      </div>

    </div>
  </div>
</div>

<div class="sm:container sm:mx-auto mx-4 mt-8 grid grid-cols-1 sm:grid-cols-3 gap-4">
  <div class="sm:col-span-2">
    <div class="dark:bg-gray-800  h-fit w-full bg-white shadow p-8 md:p-12 flex flex-col">
      <%#= render_flash_messages %>

      <header class="flex flex-col items-center justify-center">
        <div class="my-2 sm:my-12 flex flex-col items-center">
          <div class="subject w-full text-center font-medium text-xl">
            <%= render_issue_subject_with_tree(@issue) %>
            <%#= @issue.subject %>
          </div>
          <div class="text-xs text-gray-500 author">
            <%= authoring @issue.created_on, @issue.author %>.
            <% if @issue.created_on != @issue.updated_on %>
            <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
            <% end %>
          </div>
        </div>
      </header>

      <div class="<%= @issue.css_classes %> details">
        <div class="gravatar-with-child">
          <%= author_avatar(@issue.author, :size => "50") %>
          <%= assignee_avatar(@issue.assigned_to, :size => "22", :class => "gravatar-child") if @issue.assigned_to %>
        </div>

        <% if @issue.description? %>
          <div class="description">
            <% if @issue.notes_addable? %>
              <div class="w-full flex">
                <%= link_to quoted_issue_path(@issue), :remote => true, :method => 'post', :class => 'icon icon-comment ml-auto' do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-600 hover:text-gray-900">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
                  </svg>
                <% end %>
              </div>
            <% end %>
            <div class="wiki mb-8">
              <%= textilizable @issue, :description, :attachments => @issue.attachments %>
            </div>
          </div>
        <% end %>

        <div class="flex rounded bg-gray-50 p-4">
          <% unless @issue.disabled_core_fields.include?('start_date') %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_start_date) %></div>
            <div class="w-2/3"><%= format_date(@issue.start_date) %></div>
          </div>
          <% end %>
          <% unless @issue.disabled_core_fields.include?('due_date') %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_due_date) %></div>
            <div class="w-2/3"><%= issue_due_date_details(@issue) %></div>
          </div>
          <% end %>
        </div>
        <% if @issue.attachments.any? %>
          <div class="my-8">
            <%= link_to_attachments @issue, :thumbnails => true %>
          </div>
        <% end %>

        <%= render_full_width_custom_fields_rows(@issue) %>
        <%= call_hook(:view_issues_show_description_bottom, :issue => @issue) %>
      </div>

      <%= render partial: 'action_menu_edit' if User.current.wants_comments_in_reverse_order? %>

      <div id="history" class="mt-8">
        <%= render_tabs issue_history_tabs, issue_history_default_tab %>
      </div>
    </div>
    <div class="sm:container sm:mx-auto mx-4 my-6">
      <% other_formats_links do |f| %>
        <%= f.link_to 'Atom', :url => {:key => User.current.atom_key} %>
        <%= f.link_to 'PDF' %>
      <% end %>

      <% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>

      <% content_for :header_tags do %>
          <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.atom_key}, :title => "#{@issue.project} - #{@issue.tracker} ##{@issue.id}: #{@issue.subject}") %>
      <% end %>

      <%= context_menu %>

      <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
    </div>
  </div>
  <aside class="shadow w-full  p-8 bg-white dark:bg-gray-800 overflow-y-auto h-full">
    <div id="tabs" data-controller="tabs"  data-tabs-default-tab-value="general" class="flex flex-col h-full">
      <section class="flex border-b border-gray-200 overflow-x-auto">
        <div data-tabs-target="btn" id="general" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
          <div><%= l(:label_issue_general) %></div>
        </div>
        <div data-tabs-target="btn" id="relations" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
          <div><%= l(:label_issue_relations) %></div>
        </div>
        <div data-tabs-target="btn" id="progress" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
          <div><%= l(:label_issue_progress) %></div>
        </div>
        <div data-tabs-target="btn" id="the_watchers" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
          <div class="flex"><span><%= l(:label_issue_watchers) %></span><span class="ml-1">(<%= @issue.watcher_users.size %>)</span></div>
        </div>
        <div data-tabs-target="btn" id="others" data-action="click->tabs#select"  class="tab flex p-4 hover:bg-gray-100 cursor-pointer">
          <div><%= l(:label_issue_others) %></div>
        </div>
      </section>
      <section class="my-6">
        <div data-tabs-target="tab" id="general" class="space-y-2">
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_status) %></div>
            <div class="w-2/3"><%= @issue.status.name %></div>
          </div>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_priority) %></div>
            <div class="w-2/3"><%= @issue.priority.name %></div>
          </div>
          <% unless @issue.disabled_core_fields.include?('assigned_to_id') %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_assigned_to) %></div>
            <div class="w-2/3"><%= @issue.assigned_to ? link_to_principal(@issue.assigned_to) : "-" %></div>
          </div>
          <% end %>
          <% unless @issue.disabled_core_fields.include?('fixed_version_id') || (@issue.fixed_version.nil? && @issue.assignable_versions.none?) %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_fixed_version) %></div>
            <div class="w-2/3"><%= @issue.fixed_version ? link_to_version(@issue.fixed_version) : "-" %></div>
          </div>
          <% end %>
        </div>
        <div data-tabs-target="tab" id="relations" class="space-y-2">
          <% unless @issue.disabled_core_fields.include?('category_id') || (@issue.category.nil? && @issue.project.issue_categories.none?) %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_category) %></div>
            <div class="w-2/3"><%= @issue.category ? @issue.category.name : "-" %></div>
          </div>
          <% end %>
          <% if !@issue.leaf? || User.current.allowed_to?(:manage_subtasks, @project) %>

          <div id="issue_tree" class="border-t border-gray-50">
          <%= render :partial => 'subtasks' %>
          </div>
          <% end %>

          <% if @relations.present? || User.current.allowed_to?(:manage_issue_relations, @project) %>

          <div id="relations" class="border-t border-gray-50">
          <%= render :partial => 'relations' %>
          </div>
          <% end %>
        </div>
        <div data-tabs-target="tab" id="progress" class="space-y-6">
          <% unless @issue.disabled_core_fields.include?('done_ratio') %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_done_ratio) %></div>
            <div class="w-2/3 flex items-center">
              <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                <div class="bg-green-500 h-2.5 rounded-full text-green-50 text-[8px] flex items-center px-2" style="width: <%= @issue.done_ratio%>%"><%= @issue.done_ratio %>%</div>
              </div>
            </div>
          </div>
          <% end %>

          <% unless @issue.disabled_core_fields.include?('estimated_hours') %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:field_estimated_hours) %></div>
            <div class="w-2/3"><%= issue_estimated_hours_details(@issue) %></div>
          </div>
          <% end %>
          <% if User.current.allowed_to?(:view_time_entries, @project) && @issue.total_spent_hours > 0 %>
          <div class="flex w-full">
            <div class="mr-2 text-gray-400 w-1/3"><%= l(:label_spent_time) %></div>
            <div class="w-2/3"><%= issue_spent_hours_details(@issue) %></div>
          </div>
          <% end %>
        </div>
        <div data-tabs-target="tab" id="the_watchers" class="space-y-6">
          <% if !@issue.attributes_editable? && User.current.allowed_to?(:add_issue_watchers, @issue.project) %>
            <%= update_data_sources_for_auto_complete({users: watchers_autocomplete_for_mention_path(project_id: @issue.project, q: '', object_type: 'issue',
                                                                                                    object_id: @issue.id)}) %>
          <% end %>
          <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
          (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
            <div id="watchers">
              <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
            </div>
          <% end %>
          <%= render :partial => 'issues/watchers_form' %>

        </div>
        <div data-tabs-target="tab" id="others" class="space-y-6">
          <%= render_half_width_custom_fields_rows(@issue) %>
        </div>
      </section>
    </div>
  </aside>

</div>