<div class="ml-60 p-4 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">

  <div class="p-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-6">
    <h1 class="text-sm uppercase mt-4 mb-6 text-gray-400"><%= l("label_redmine_environment") %></h1>
    <div class="flex flex-col items-center text-sm">
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_versioned_name") %></div>
        <div class="ml-auto"><%= Redmine::Info.versioned_name %></div>
      </div>
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_ruby") %></div>
        <div class="ml-auto"><%= "#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL} (#{RUBY_RELEASE_DATE})" %></div>
      </div>
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_ruby_platform") %></div>
        <div class="ml-auto"><%= "#{RUBY_PLATFORM}" %></div>
      </div>
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_rails") %></div>
        <div class="ml-auto"><%= Rails::VERSION::STRING %></div>
      </div>
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_environment") %></div>
        <div class="ml-auto"><%= Rails.env %></div>
      </div>
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_database_adapter") %></div>
        <div class="ml-auto"><%= ActiveRecord::Base.connection.adapter_name %></div>
      </div>
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_mailer_queue") %></div>
        <div class="ml-auto"><%= ActionMailer::MailDeliveryJob.queue_adapter.class.name %></div>
      </div>
      <div class="flex w-full py-1">
        <div class="font-medium"><%= l("label_redmine_mailer_delivery") %></div>
        <div class="ml-auto"><%= ActionMailer::Base.delivery_method %></div>
      </div>
      <% Redmine::Scm::Base.all.each do |scm| %>
        <%
        scm_class = "Repository::#{scm}".constantize
          if scm_class.scm_available
        %>
        <div class="flex w-full py-1">
          <div class="font-medium"><%= scm %></div>
          <div class="ml-auto"><%= scm_class.scm_version_string %></div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="p-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-6">
    <h1 class="text-sm uppercase mt-4 mb-6 text-gray-400"><%= l("label_redmine_configuration") %></h1>
    <% @checklist.each do |label, result| %>
      <div class="flex items-center py-1 text-sm">
          <% if result %>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
              </svg>
            </div>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-orange-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
            </svg>
          <% end %>
        </td>
        <div class="name ml-3"><%= label.is_a?(Symbol) ? l(label) : label %></div>
      </div>
    <% end %>
  </div>

  <div class="p-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-6">
    <h1 class="text-sm uppercase mt-4 mb-6 text-gray-400"><%= l("label_redmine_plugins") %></h1>
    <% plugins = Redmine::Plugin.all%>
    <% if plugins.any? %>
      <% plugins.each do |plugin| %>
        <div class="flex w-full py-1">
          <div class="font-medium"><%= plugin.id.to_s %></div>
          <div class="ml-auto"><%= plugin.version.to_s %></div>
        </div>
      <% end %>
    <% else %>
      <div class="flex items-center justify-center"><%= l("label_redmine_plugins_none") %></div>
    <% end %>
  </div>

  <div class="p-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-6">
    <h1 class="text-sm uppercase mt-4 mb-6 text-gray-400"><%= l("label_redmine_statistics") %></h1>
    <div class="flex w-full py-1">
      <div class="font-medium"><%= l("label_redmine_projects_number") %></div>
      <div class="ml-auto"><%= Project.count %></div>
    </div>
    <div class="flex w-full py-1">
      <div class="font-medium"><%= l("label_redmine_users") %></div>
      <div class="ml-auto"><%= User.count %></div>
    </div>
    <div class="flex w-full py-1">
      <div class="font-medium"><%= l("label_redmine_groups") %></div>
      <div class="ml-auto"><%= Group.count %></div>
    </div>
    <div class="flex w-full py-1">
      <div class="font-medium"><%= l("label_redmine_issues") %></div>
      <div class="ml-auto"><%= Issue.open.count %> / <%= Issue.count %></div>
    </div>
  </div>

</div>
