
<div class="ml-60">
  <% if @plugins.any? %>
    <div class="flex w-full">
      <a href="#" id="check-for-updates" class="ml-auto flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        <%= l(:label_check_for_updates) %>
      </a>
    </div>

    <div class="flex flex-col mt-8">
      <% @plugins.each do |plugin| %>
        <div class="dark:bg-gray-800 h-fit w-full bg-white shadow p-8  mb-8 mt-0 flex items-center">
          <div class="W-2/4">
            <h3><%= plugin.name %></h3>
            <% if !plugin.description.blank? %>
              <div class="text-xs text-gray-400"><%= plugin.description %></div>
            <% end %>
            <% if !plugin.url.blank? %>
              <%= link_to plugin.url, plugin.url, class:"text-xs text-blue-400" %>
            <% end %>
          </div>
          <div class="ml-auto">
            <% if !plugin.author_url.blank? %>
              <%= link_to plugin.author_url, class: "text-xs flex" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <span class=""><%= plugin.author %></span>
              <% end %>
            <% else %>
              <div class="text-xs flex text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <span class=""><%= plugin.author %></span>
              </div>
            <% end %>
          </div>
          <div class="ml-auto">
            <div><%= plugin.version %></div>
            <% if plugin.configurable? %>
              <%= link_to plugin_settings_path(plugin), class: 'ml-3 rounded hover:bg-gray' do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>

    <%= javascript_tag do %>
    $(document).ready(function(){
      $("#check-for-updates").click(function(e){
        e.preventDefault();
        $.ajax({
          dataType: "jsonp",
          url: "https://www.redmine.org/plugins/check_updates",
          data: <%= raw_json plugin_data_for_updates(@plugins) %>,
          timeout: 10000,
          beforeSend: function(){
            $('#ajax-indicator').show();
          },
          success: function(data){
            $('#ajax-indicator').hide();
            $("table.plugins td.version span").addClass("unknown");
            $.each(data, function(plugin_id, plugin_data){
              var s = $("tr#plugin-"+plugin_id+" td.version span");
              s.removeClass("icon-ok icon-warning unknown");
              if (plugin_data.url) {
                if (s.parent("a").length>0) {
                  s.unwrap();
                }
                s.addClass("found");
                s.wrap($("<a></a>").attr("href", plugin_data.url).attr("target", "_blank"));
              }
              if (plugin_data.c == s.text()) {
                s.addClass("icon-ok");
              } else if (plugin_data.c) {
                s.addClass("icon-warning");
                s.attr("title", "<%= escape_javascript l(:label_latest_compatible_version) %>: "+plugin_data.c);
              }
            });
            $("table.plugins td.version span.unknown").addClass("icon-help").attr("title", "<%= escape_javascript l(:label_unknown_plugin) %>");
          },
          error: function(){
            $('#ajax-indicator').hide();
            alert("Unable to retrieve plugin informations from www.redmine.org");
          }
        });
      });
    });
  <% end if @plugins.any? %>
</div>