<div class="ml-60">
  <div class="dark:bg-gray-800 h-fit mr-8 w-full bg-white mb-8 mt-0 flex items-center">
    <div class="flex w-full">
      <%= link_to l(:label_project_new), new_project_path, :class => 'icon icon-add ml-auto flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
    </div>
  </div>

  <%= form_tag(admin_projects_path(@project, nil), :method => :get, :id => 'query_form') do %>
    <%= hidden_field_tag 'admin_projects', '1' %>
    <%= render :partial => 'queries/query_form' %>
  <% end %>

  <% if @query.valid? %>
    <%if @projects.any? %>
      <%= render :partial => 'projects/list', :locals => { :entries => @projects }%>
    <% else %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  <% end %>

  <% content_for :sidebar do %>
    <%= render :partial => 'projects/sidebar' %>
  <% end %>

</div>