<div class="ml-14 md:ml-60">
  <div class="bg-white dark:bg-slate-700 shadow">
    <div data-controller="contextual" class="contextual  px-4  py-2 grid grid-cols-1 md:grid-cols-3 justify-items-stretch gap-0 w-full">
      <div class="py-2">
        <h2 class="uppercase text-gray-600 flex items-center dark:text-gray-100">
          <%=
            page_title = title [l(:label_user_plural), users_path], @user.login
            page_title.insert(page_title.rindex(' ') + 1, avatar(@user).to_s)
          %>
        </h2>
      </div>
      <div></div>
      <div class="flex w-full items-center justify-end">
        <span class="mr-2"><%= link_to l(:label_profile), user_path(@user), :class => 'icon icon-user' %></span>
        <span class="mr-2"><%= additional_emails_link(@user) %></span>
        <span class="mr-2"><%= change_status_link(@user) %></span>
        <span><%= delete_link user_path(@user) if User.current != @user %></span>
      </div>
    </div>
  </div>

  <div class="mx-4 my-6">
    <div class="dark:bg-gray-800 relative overflow-x-auto h-fit w-full bg-white shadow p-8 mb-8 mt-0 md:mt-8 flex flex-col">
      <%= render_tabs user_settings_tabs %>
    </div>
  </div>
</div>