<div class="ml-14 md:ml-60">
  <div class="mx-4 pb-24">
    <% Enumeration.get_subclasses.each do |klass| %>
      <div class="flex w-full mt-8 mb-4">
        <h3 class="uppercase text-gray-500"><%= l(klass::OptionName) %></h3>
        <% enumerations = klass.shared %>
        <div class="ml-auto">
          <%= link_to l(:label_enumeration_new), new_enumeration_path(:type => klass.name), :class => 'icon icon-add flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-80' %>
        </div>
      </div>


      <% if enumerations.any? %>
        <div class="overflow-auto">
          <table class="list enumerations shadow table table-bordered">
            <thead>
              <tr>
                <th><%= l(:field_name) %></th>
                <th><%= l(:field_is_default) %></th>
                <th><%= l(:field_active) %></th>
                <th></th>
              </tr>
            </thead>
            <% enumerations.each do |enumeration| %>
            <tr>
                <td class="name"><%= link_to enumeration, edit_enumeration_path(enumeration) %></td>
                <td class="tick"><%= checked_image enumeration.is_default? %></td>
                <td class="tick"><%= checked_image enumeration.active? %></td>
                <td class="buttons">
                  <%= reorder_handle(enumeration, :url => enumeration_path(enumeration), :param => 'enumeration', class: "mr-3") %>
                  <%= delete_link enumeration_path(enumeration), class: "ml-3" %>
                </td>
            </tr>
            <% end %>
          </table>
        </div>
      <% else %>
        <p class="nodata"><%= l(:label_no_data) %></p>
      <% end %>

    <% end %>

    <% html_title(l(:label_enumerations)) -%>

    <%= javascript_tag do %>
      $(function() { $("table.enumerations tbody").positionedItems(); });
    <% end %>
  </div>
</div>