<div class="container mx-auto flex flex-col bg-gray-50 dark:bg-gray-800 h-full">

  <div class="flex flex-col md:flex-row mt-8 md:mt-24">
    <%= render "welcome/tabs" %>
    <div class="md:ml-44 lg:ml-64 px-6 lg:px-12 bg-gray-50  text-medium text-gray-800 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
      <% if @observed_issues.length > 0 %>
      <section>
        <h2 class="mb-8 text-xs text-gray-500 font-light uppercase flex items-center"><%= l("welcome.my_watched_issues.title") %> (<%= @observed_issues_total %>)</h2>
        <div class="flex flex-col">
          <% @observed_issues.each do |issue| %>
            <%= link_to issue_path(issue), class:"font-medium text-xs bg-white shadow rounded px-4 py-2.5 mb-1 hover:bg-gray-50 dark:bg-gray-700 hover:text-gray-900 hover:font-semibold" do %>
              <%= issue.subject %>
            <% end %>
          <% end %>
        </div>
      </section>
      <% end %>
      <% if @my_issues.length > 0 %>
      <section>
        <h2 class="my-8 text-xs text-gray-500 font-light uppercase flex items-center"><%= l("welcome.my_assigned_issues.title") %> (<%= @my_issues_total %>)</h2>
        <div class="flex flex-col">
          <% @my_issues.each do |issue| %>
            <%= link_to issue_path(issue), class:"font-medium text-xs bg-white shadow rounded px-4 py-2.5 mb-1 hover:bg-gray-50 dark:bg-gray-700 hover:text-gray-900 hover:font-semibold" do %>
              <%= issue.subject %>
            <% end %>
          <% end %>
        </div>
      </section>
      <% end %>
    </div>
  </div>
</div>
