<div class="bg-white dark:bg-slate-700 shadow">
  <div data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
    <h2 class="uppercase text-gray-600 flex items-center dark:text-gray-100">
      <%= @query.new_record? ? l(:label_spent_time) : @query.name %>
    </h2>
    <div class="flex items-center justify-self-center">
      <% if User.current.allowed_to?(:log_time, @project, :global => true) %>
        <%= link_to _new_time_entry_path(@project, @query.filtered_issue_id),
            :class => 'icon icon-add text-white flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm p-2 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>
      <% end %>
      <div data-controller="sidebar">
        <div data-action="click->sidebar#toggle" class="text-gray-900 mr-3 cursor-pointer flex items-center justify-center bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
          </svg>
        </div>
        <div>
          <%= render :partial => 'timelog/sidebar' %>
        </div>
      </div>
    </div>
    <div class="ml-auto relative flex items-center">

      <div data-action="click->contextual#toggleActions" class="text-gray-900 cursor-pointer flex items-center justify-center bg-white  focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
        </svg>
      </div>

      <div class="absolute flex flex-col right-0 shadow rounded-md border border-gray-50 top-10 bg-white z-50 w-60 hidden" data-contextual-target="actions">
        <% if User.current.allowed_to?(:import_time_entries, @project, :global => true) %>
          <%= link_to l(:button_import), new_time_entries_import_path(:project_id => @project), :class => 'icon icon-import flex items-center text-gray-900 hover:bg-gray-50 hover:border-l-2 hover:border-blue-800 hover:pl-3.5 px-4 py-2 text-sm' %>
        <% end %>

        <%= link_to_if_authorized l(:label_settings),
                  {:controller => 'projects', :action => 'settings', :id => @project, :tab => 'activities'},
                  :class => 'icon icon-settings  flex items-center text-gray-900 hover:bg-gray-50 hover:border-l-2 hover:border-blue-800 hover:pl-3.5 px-4 py-2 text-sm' if User.current.allowed_to?(:manage_project_activities, @project) %>
      </div>
    </div>
  </div>
</div>

<div class="sm:container sm:mx-auto mx-4 mt-8">
  <div  class="bg-white shadow flex flex-col p-8  dark:bg-slate-800 dark:hover:bg-slate-700">
    <%= form_tag(_report_time_entries_path(@project, nil), :method => :get, :id => 'query_form') do %>
      <% @report.criteria.each do |criterion| %>
        <%= hidden_field_tag 'criteria[]', criterion, :id => nil %>
      <% end %>
      <%= render :partial => 'timelog/date_range' %>

      <p><label for='columns'><%= l(:label_details) %></label>: <%= select_tag 'columns', options_for_select([[l(:label_year), 'year'],
                                                                                [l(:label_month), 'month'],
                                                                                [l(:label_week), 'week'],
                                                                                [l(:label_day_plural).titleize, 'day']], @report.columns),
                                                            :onchange => "this.form.submit();" %>

      <label for='criterias'><%= l(:button_add) %></label>: <%= select_tag('criteria[]', options_for_select([[]] + (@report.available_criteria.keys - @report.criteria).collect{|k| [l_or_humanize(@report.available_criteria[k][:label]), k]}),
                                                              :onchange => "this.form.submit();",
                                                              :style => 'width: 200px',
                                                              :disabled => (@report.criteria.length >= 3),
                                                              :id => "criterias") %>
        <%= link_to l(:button_clear), {:params => request.query_parameters.merge(:criteria => nil)}, :class => 'icon icon-reload' %></p>
      <%= hidden_field_tag 'encoding', l(:general_csv_encoding) unless l(:general_csv_encoding).casecmp('UTF-8') == 0 %>
    <% end %>

    <% if @query.valid? %>
    <% unless @report.criteria.empty? %>
    <% if @report.hours.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
    <div class="autoscroll">
    <table class="list table" id="time-report">
    <thead>
    <tr>
    <% @report.criteria.each do |criteria| %>
      <th><%= l_or_humanize(@report.available_criteria[criteria][:label]) %></th>
    <% end %>
    <% columns_width = (40 / (@report.periods.length+1)).to_i %>
    <% @report.periods.each do |period| %>
      <th class="period" style="width:<%= columns_width %>%;"><%= period %></th>
    <% end %>
      <th class="total" style="width:<%= columns_width %>%;"><%= l(:label_total_time) %></th>
    </tr>
    </thead>
    <tbody>
    <%= render :partial => 'report_criteria', :locals => {:criterias => @report.criteria, :hours => @report.hours, :level => 0} %>
      <tr class="total">
      <td><%= l(:label_total_time) %></td>
      <%= ('<td></td>' * (@report.criteria.size - 1)).html_safe %>
      <% total = 0 -%>
      <% @report.periods.each do |period| -%>
        <% sum = sum_hours(select_hours(@report.hours, @report.columns, period.to_s)); total += sum -%>
        <td class="hours"><%= html_hours(format_hours(sum)) if sum > 0 %></td>
      <% end -%>
      <td class="hours"><%= html_hours(format_hours(total)) if total > 0 %></td>
      </tr>
    </tbody>
    </table>
    </div>

    <% other_formats_links do |f| %>
      <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '330px'); return false;" %>
    <% end %>
    <% end %>
    <div id="csv-export-options" style="display: none;">
      <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
      <%= export_csv_encoding_select_tag %>
      <%= export_csv_separator_select_tag %>
      <p class="buttons">
        <%= submit_tag l(:button_export), :name => nil, :id => 'csv-export-button' %>
        <%= submit_tag l(:button_cancel), :name => nil, :onclick => 'hideModal(this);', :type => 'button' %>
      </p>
    </div>
    <% end %>
    <% end %>

    <% content_for :sidebar do %>
      <%= render :partial => 'sidebar' %>
    <% end %>

    <% html_title(@query.new_record? ? l(:label_spent_time) : @query.name, l(:label_report)) %>


    <%= javascript_tag do %>
    $(document).ready(function(){
      $('input#csv-export-button').click(function(){
        $('form input#encoding').val($('select#encoding option:selected').val());
        $('form#query_form').attr('action', '<%= _report_time_entries_path(@project, nil, :format => 'csv') %>').submit();
        $('form#query_form').attr('action', '<%= _report_time_entries_path(@project, nil) %>');
        hideModal(this);
      });
    });
    <% end %>
  </div>
</div>