<%= form_tag({:action => 'edit', :tab => 'projects'}) do %>

<div class="box tabular settings">
  <div class="mb-6">
    <%= setting_check_box :default_projects_public %>
  </div>

  <div class="mb-6">
    <%= setting_multiselect(:default_projects_modules,
        Redmine::AccessControl.available_project_modules.collect {|m| [l_or_humanize(m, :prefix => "project_module_"), m.to_s]}) %>
  </div>

  <div class="mb-6">
    <%= setting_multiselect(:default_projects_tracker_ids,
        Tracker.sorted.collect {|t| [t.name, t.id.to_s]}) %>
  </div>

  <div class="mb-6">
    <%= setting_check_box :sequential_project_identifiers %>
  </div>

  <div class="mb-6">
    <%= setting_select :new_project_user_role_id,
                      Role.find_all_givable.collect {|r| [r.name, r.id.to_s]},
                      :blank => "--- #{l(:actionview_instancetag_blank_option)} ---" %>
  </div>
</div>

<fieldset class="box">
  <legend><%= l(:setting_project_list_defaults) %></legend>
  <% query = ProjectQuery.new(Setting.project_list_defaults) %>
  <p>
    <label><%= l(:label_display_type) %></label>
    <% query.available_display_types.each do |t| %>
      <%= radio_button_tag('settings[project_list_display_type]', t, Setting.project_list_display_type == t, :id => "setting_project_list_display_type_#{t}") %>
      <%= content_tag('label', l(:"label_display_type_#{t}"), :for => "settings_project_list_display_type_#{t}", :class => "inline") %>
    <% end %>
  </p>
  <%= render_query_columns_selection(query,
        :name => 'settings[project_list_defaults][column_names]') %>

  <p>
    <label><%= l(:label_default_query) %></label>
    <%= setting_select :default_project_query, default_global_project_query_options, label: false %>
  </p>
</fieldset>


<div class="w-full my-8">
  <%= submit_tag l(:button_save), class: "ml-auto cursor-pointer flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
</div>
<% end %>
