<div class="ml-60">
  <div class="bg-white dark:bg-slate-700 shadow">
    <div data-controller="contextual" class="contextual px-4 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
      <div class="py-2"><%= title [l(:label_plugins), {:controller => 'admin', :action => 'plugins'}], @plugin.name %></div>
      <div></div>
      <div class="flex w-full">
      </div>
    </div>
  </div>


  <div id="settings" class="plugin mx-4 plugin-<%= @plugin.id %>">
    <%= form_tag({:action => 'plugin'}) do %>
      <div class="box tabular settings my-4">
        <%= render :partial => @partial, :locals => {:settings => @settings}%>
      </div>
      <%= submit_tag l(:button_apply), class: "ml-auto cursor-pointer flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    <% end %>
  </div>
</div>