<div class="bg-white dark:bg-slate-700 shadow rounded">
  <div data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
    <h2 class="uppercase text-gray-600 flex items-center dark:text-gray-100"><%=l(:label_document_plural)%></h2>
    <div class="flex items-center justify-self-center">
      <% if User.current.allowed_to?(:add_documents, @project) %>
        <%= link_to new_project_document_path(@project), :onclick => 'showAndScrollTo("add-document", "document_title"); return false;', :class => 'icon icon-add text-white flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm p-2 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>
      <% end %>
    </div>
    <div data-controller="sidebar" class="ml-auto">
      <div data-action="click->sidebar#toggle" class="text-gray-900 mr-3 cursor-pointer flex items-center justify-center bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
        </svg>
      </div>
      <div>
        <%= render :partial => 'documents/sidebar' %>
      </div>
    </div>
  </div>
</div>

<div class="sm:container sm:mx-auto mx-4 mt-8">
  <div id="add-document" style="display:none;">
  <h2><%=l(:label_document_new)%></h2>
  <%= labelled_form_for @document, :url => project_documents_path(@project), :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= submit_tag l(:button_create) %>
    <%= link_to l(:button_cancel), "#", :onclick => '$("#add-document").hide(); return false;' %>
  </p>
  <% end %>
  </div>


  <div id="document-list" class="bg-white shadow flex flex-col p-8  dark:bg-slate-800 dark:hover:bg-slate-700">
  <% if @grouped.empty? %><p class="nodata"><%= l(:label_no_data) %></p><% end %>

  <% @grouped.keys.sort.__send__(@sort_by == 'date' ? :reverse_each : :each) do |group| %>
    <div class="document-group my-6 document-group-<%= @sort_by %>">
      <h3 class="group-name bg-gray-50 px-2 uppercase text-xs text-gray-600 flex items-center border-b border-gray-50 py-4 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
        </svg>
        <%= group %>
      </h3>
      <%= render :partial => 'documents/document', :collection => @grouped[group] %>
    </div>
  <% end %>
  </div>


  <% html_title(l(:label_document_plural)) -%>
</div>