<div class="ml-14 md:ml-60 w-auto">
  <div class="bg-white dark:bg-slate-700 shadow">
    <div data-controller="contextual" class="contextual px-4 py-2 grid grid-cols-1 md:grid-cols-3 justify-items-stretch gap-0 w-full">
      <div></div>
      <div></div>
      <div class="flex w-full">
        <%= link_to l(:label_auth_source_new), {:action => 'new'}, :class => 'icon icon-add ml-auto flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-80' %>
      </div>
    </div>
  </div>

  <div class="w-full my-6 md:my-0">
    <div class="dark:bg-gray-800 overflow-auto relative h-fit mx-4 bg-white shadow p-8   mb-8 mt-0 md:mt-8 flex flex-col">
      <table class="list table table-bordered">
        <thead>
          <tr>
            <th><%=l(:field_name)%></th>
            <th><%=l(:field_type)%></th>
            <th><%=l(:field_host)%></th>
            <th><%=l(:label_user_plural)%></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% for source in @auth_sources %>
          <tr id="auth-source-<%= source.id %>">
            <td class="name"><%= link_to(source.name, :action => 'edit', :id => source)%></td>
            <td><%= source.auth_method_name %></td>
            <td><%= source.host %></td>
            <td><%= source.users.count %></td>
            <td class="buttons">
              <%= link_to l(:button_test), try_connection_auth_source_path(source), :class => 'icon icon-test mr-3' %>
              <%= delete_link auth_source_path(source) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="pagination w-full flex items-center justify-center mb-8">
      <div class="">
        <%= pagination_links_full @auth_source_pages %>
      </div>
    </div>
  </div>
</div>