<div class="bg-white dark:bg-slate-700 shadow">
  <div data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
    <h2 class="uppercase text-gray-600 flex items-center dark:text-gray-100">
      <%= l(:label_attachment_plural) %>
    </h2>
    <div class="flex items-center justify-self-center">
      <% if User.current.allowed_to?(:manage_files, @project) %>
        <%= link_to new_project_file_path(@project),
            :class => 'icon icon-add text-white flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm p-2 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="sm:container sm:mx-auto mx-4 mt-8">
  <% delete_allowed = User.current.allowed_to?(:manage_files, @project) %>

  <div class="autoscroll bg-white shadow flex flex-col p-8  dark:bg-slate-800 dark:hover:bg-slate-700">
    <table class="list files table">
      <thead><tr>
        <%= sort_header_tag('filename', :caption => l(:field_filename)) %>
        <%= sort_header_tag('created_on', :caption => l(:label_date), :default_order => 'desc') %>
        <%= sort_header_tag('size', :caption => l(:field_filesize), :default_order => 'desc') %>
        <%= sort_header_tag('downloads', :caption => l(:label_downloads_abbr), :default_order => 'desc') %>
        <th><%= l(:field_digest) %></th>
        <th></th>
      </tr></thead>
      <tbody>
    <% @containers.each do |container| %>
      <% next if container.attachments.empty? -%>
      <% if container.is_a?(Version) -%>
      <tr>
        <th colspan="6">
          <%= link_to(container, {:controller => 'versions', :action => 'show', :id => container}, :class => "icon icon-package") %>
        </th>
      </tr>
      <% end -%>
      <% container.attachments.each do |file| %>
      <tr class="file">
        <td class="filename"><%= link_to_attachment file, :title => file.description -%></td>
        <td class="created_on"><%= format_time(file.created_on) %></td>
        <td class="filesize"><%= number_to_human_size(file.filesize) %></td>
        <td class="downloads"><%= file.downloads %></td>
        <td class="digest"><%= file.digest_type %>: <%= file.digest %></td>
        <td class="buttons">
        <%= link_to_attachment file, class: 'icon-only icon-download', title: l(:button_download), download: true %>
        <%= link_to(l(:button_delete), attachment_path(file), :class => 'icon-only icon-del',
                                            :data => {:confirm => l(:text_are_you_sure)}, :method => :delete) if delete_allowed %>
        </td>
      </tr>
      <% end %>
    <% end %>
      </tbody>
    </table>
  </div>

  <% html_title(l(:label_attachment_plural)) -%>
</div>