<div data-application-target="settings" id="default-settings" tabindex="-1" aria-hidden="true" class="flex bg-gray-700 bg-opacity-50 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center w-full md:inset-0 h-screen max-h-full">
  <div data-application-target="settingsBody" class="relative w-full max-w-6xl top-16 h-4/5 overflow-auto">
    <!-- Modal content -->
    <div class="relative bg-white h-full rounded-lg shadow dark:bg-gray-700">
      <div id="tabs" data-controller="tabs"  data-tabs-default-tab-value="general" class="flex h-full">
        <section class="w-1/4 bg-gray-100 h-full">
          <h3 class="text-xl p-8! font-semibold text-gray-900 dark:text-white">
            <%=l(:label_settings_menu)%>
          </h3>
          <div class="px-6">
            <div data-tabs-target="btn" id="general" data-action="click->tabs#select"  class="tab flex p-2 hover:bg-gray-200 cursor-pointer rounded mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
              <div><%= l(:label_settings_general) %></div>
            </div>
            <div data-tabs-target="btn" id="appearance" data-action="click->tabs#select"  class="tab flex p-2 hover:bg-gray-200 cursor-pointer rounded mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
              <div><%= l(:label_settings_appearance) %></div>
            </div>
            <div data-tabs-target="btn" id="preferences" data-action="click->tabs#select"  class="tab flex p-2 hover:bg-gray-200 cursor-pointer rounded mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
              </svg>
              <div><%= l(:label_settings_preferences) %></div>
            </div>
            <div data-tabs-target="btn" id="notifications" data-action="click->tabs#select"  class="tab flex p-2 hover:bg-gray-200 cursor-pointer rounded mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
              </svg>
              <div><%= l(:label_settings_notifications) %></div>
            </div>
          </div>
        </section>
        <section class="w-3/4 overflow-auto">
          <div class="w-full p-4 flex">
            <div data-action="click->application#hideSettings" class="ml-auto cursor-pointer p-2 rounded-full hover:bg-gray-50">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </div>
          </div>

          <div data-tabs-target="tab" id="general" class="p-8">
            <%= render "general" %>
          </div>
          <div data-tabs-target="tab" id="appearance" class="p-8">
            <%= render "appearance" %>
          </div>
          <div data-tabs-target="tab" id="preferences" class="p-8">
            <%= render "preferences" %>
          </div>
          <div data-tabs-target="tab" id="notifications" class="p-8">
            <%= render "notifications" %>
          </div>
        </section>
      </div>


      </div>

    </div>
  </div>
</div>