
<%= form_tag({:controller => 'calendars', :action => 'show', :project_id => @project},
             :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'calendar', '1' %>

<div data-controller="query" id="query_form_with_buttons" class="hide-when-print bg-white dark:bg-gray-800 w-full shadow">
  <div class="buttons flex items-center  px-4 py-2 text-sm mb-4 container mx-auto">
    <div class="flex items-center">
      <%= link_to_previous_month(@year, @month, :accesskey => accesskey(:previous), class:"mr-2 text-gray-600  bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:text-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-5 py-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800") %>
      <%= link_to_next_month(@year, @month, :accesskey => accesskey(:next), class:"mr-2 text-gray-600 bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:text-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-5 py-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800") %>
    </div>
    <div data-action="click->query#toggle" class="action-button-with-icon ml-auto">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
      </svg>
    </div>
  </div>
  <div  data-query-target="filters" id="query_form_content" class="bg-white hidden flex flex-col dark:bg-gray-800 w-full shadow p-4 text-sm mb-4">
    <fieldset id="filters" class="flex collapsible <%= @query.new_record? ? "" : "collapsed" %>">
      <legend onclick="toggleFieldset(this);" class="icon icon-<%= @query.new_record? ? "expanded" : "collapsed" %> mb-4 uppercase text-gray-400 text-xs"><%= l(:label_filter_plural) %></legend>
      <div style="<%= @query.new_record? ? "" : "display: none;" %>" class="w-full">
        <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
      </div>
    </fieldset>
    <div class="flex ml-auto items-center my-4">
      <div class="flex items-center mr-4">
        <%= label_tag('month', l(:label_month), class: "mr-2 text-xs") %>
        <%= select_month(@month, :prefix => "month", :discard_type => true) %>
      </div>
      <div class="flex items-center mr-4">
        <%= label_tag('year', l(:label_year), class: "mr-2 text-xs") %>
        <%= select_year(@year, :prefix => "year", :discard_type => true) %>
      </div>
      <div class="flex items-center h-full">
        <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
        <%= link_to l(:button_clear), { :project_id => @project, :set_filter => 1 }, :class => 'icon icon-reload' %>
        <% if @query.new_record? && User.current.allowed_to?(:save_queries, @project, :global => true) %>
          <%= link_to_function l(:button_save_object, object_name: l(:label_query).downcase),
                              "$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit();",
                              :class => 'icon icon-save' %>
        <% end %>
        <% if !@query.new_record? && @query.editable_by?(User.current) %>
          <%= link_to l(:button_edit_object, object_name: l(:label_query).downcase), edit_query_path(@query, :calendar => 1), :class => 'icon icon-edit' %>
          <%= delete_link query_path(@query, :calendar => 1), {}, l(:button_delete_object, object_name: l(:label_query).downcase) %>
        <% end %>
      </div>
    </div>
  </div>


</div>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
<%= render :partial => 'common/calendar', :locals => {:calendar => @calendar} %>

<%= call_hook(:view_calendars_show_bottom, :year => @year, :month => @month, :project => @project, :query => @query) %>

<p class="legend cal">
  <span class="starting"><%= l(:text_tip_issue_begin_day) %></span>
  <span class="ending"><%= l(:text_tip_issue_end_day) %></span>
  <span class="starting ending"><%= l(:text_tip_issue_begin_end_day) %></span>
</p>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>

<% html_title(l(:label_calendar)) -%>
