<%
  issue = tab[:locals][:issue]
  journals = tab[:locals][:journals]
%>
<ol class="relative border-s border-gray-200 dark:border-gray-700">
<% reply_links = issue.notes_addable? -%>
<% for journal in journals %>
  <li class="mb-4 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
      </svg>
    </span>
    <div class="flex-col p-4 bg-white border border-gray-200 rounded-lg shadow-sm flex dark:bg-gray-700 dark:border-gray-600">
        <time class="mb-1 text-xs font-normal text-gray-400 "><%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></time>
        <div class="text-sm font-normal text-gray-500 dark:text-gray-300">
          <%= render_private_notes_indicator(journal) %>
          <% if journal.details.any? %>
            <ul class="details">
              <% details_to_strings(journal.visible_details).each do |string| %>
              <li><%= string %></li>
              <% end %>
            </ul>
            <% if Setting.thumbnails_enabled? && (thumbnail_attachments = journal_thumbnail_attachments(journal)).any? %>
              <div class="thumbnails">
                <% thumbnail_attachments.each do |attachment| %>
                  <div><%= thumbnail_tag(attachment) %></div>
                <% end %>
              </div>
            <% end %>
            <% end %>
            <%= render_notes(issue, journal, :reply_links => reply_links) unless journal.notes.blank? %>
        </div>
    </div>
  <!-- <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>"> -->

  </li>
  <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>
<% end %>

<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>
</ol>