<aside id="sidebar-list" data-sidebar-target="sidebar" data-issue-target="navigation" class="w-96 z-50 overflow-y-auto shadow-lg bg-white border-l border-gray-50 dark:bg-gray-800 fixed top-14 right-0 h-full hidden">

  <%= form_tag({}, :method => :get) do %>
  <%= hidden_field_tag "tracker_ids[]", nil, :id => nil %>
  <h3><%= l(:label_roadmap) %></h3>
  <ul class="px-8">
  <% @trackers.each do |tracker| %>
    <li>
      <label>
        <%= check_box_tag("tracker_ids[]", tracker.id,
                          (@selected_tracker_ids.include? tracker.id.to_s),
                          :id => nil) %>
        <%= tracker.name %>
      </label>
    </li>
  <% end %>
  </ul>
  <p></p>
  <ul class="px-8">
    <li>
      <label for="completed">
        <%= check_box_tag "completed", 1, params[:completed] %> <%= l(:label_show_completed_versions) %>
      </label>
    </li>
    <% if @project.descendants.active.any? %>
    <li>
      <%= hidden_field_tag 'with_subprojects', 0, :id => nil %>
      <label>
        <%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_subproject_plural)%>
      </label>
    </li>
    <% end %>
  </ul>
  <p class="px-8 my-2"><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>
  <% end %>

  <h3><%= l(:label_version_plural) %></h3>
  <ul class="px-8">
  <% @versions.each do |version| %>
    <li>
      <%= link_to(format_version_name(version), "##{version_anchor(version)}") %>
    </li>
  <% end %>
  </ul>
  <% if @completed_versions.present? %>
  <p class="px-8">
    <%= link_to_function l(:label_completed_versions),
                        '$("#toggle-completed-versions").toggleClass("icon-collapsed icon-expanded"); $("#completed-versions").toggle()',
                        :id => 'toggle-completed-versions', :class => 'icon icon-collapsed collapsible' %>
    <ul id = "completed-versions" style = "display:none;">
      <% @completed_versions.each do |version| %>
        <li><%= link_to_version version %></li>
      <% end %>
    </ul>
  </p>
  <% end %>
</aside>