<div class="bg-white shadow rounded">
  <div data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
    <h2 class="uppercase text-gray-600 flex items-center"><%=l(:label_roadmap)%></h2>

    <div class="flex items-center justify-self-center">
      <% if User.current.allowed_to?(:manage_versions, @project) %>
        <%= link_to  new_project_version_path(@project), :class => 'icon icon-add text-white flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm p-2 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>
      <% end %>

      <div data-controller="sidebar">
        <div data-action="click->sidebar#toggle" class="text-gray-900 mr-3 cursor-pointer flex items-center justify-center bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
          </svg>
        </div>
        <div>
          <%= render :partial => 'versions/sidebar' %>
        </div>
      </div>
    </div>
    <div class="flex items-center relative ml-auto">
      <div data-action="click->contextual#toggleActions" class="text-gray-900 cursor-pointer flex items-center justify-center bg-white  focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
        </svg>
      </div>

      <div  class="absolute flex flex-col right-0 top-10 shadow rounded-md border border-gray-50 mt bg-white z-50 w-60 hidden" data-contextual-target="actions">
        <%= link_to_if_authorized l(:label_settings),
                  {:controller => 'projects', :action => 'settings', :id => @project, :tab => 'versions'},
                  :class => 'icon icon-settings flex items-center text-gray-900 hover:bg-gray-50 hover:border-l-2 hover:border-blue-800 hover:pl-3.5 px-4 py-2 text-sm' if User.current.allowed_to?(:manage_versions, @project) %>

      </div>
    </div>
  </div>
</div>


<% if @versions.empty? %>
  <p class="nodata bg-gray-50 rounded text-gray-500 p-16 shadow container mx-auto my-8"><%= l(:label_no_data) %></p>
<% else %>
  <div id="roadmap" class="container  h-[calc(100vh-150px)] mx-auto w-full my-8 grid overflow-x-auto overflow-hidden">
    <div class="flex overflow-x-auto custom-scroll gap-6 pb-4 px-4 sm:px-0">
      <% @versions.each do |version| %>
      <div id="roadmap" class="bg-white p-8 shadow flex flex-col flex-shrink-0 w-full md:w-52 lg:w-96 border rounded-md overflow-y-auto border-gray-200 dark:border-gray-700">
        <article class="version-article <%= version.css_classes %>">
          <header class="flex items-center group border-b border-gray-100 mb-6 pb-2">
            <div class="py-2">
              <h3 class="icon icon-package version inline-flex font-medium text-base mr-3"><%= link_to_version version, :name => version_anchor(version) %></h3>
              <span class="badge badge-status-<%= version.status %>"><%= l("version_status_#{version.status}") %></span>
            </div>
            <% if User.current.allowed_to?(:manage_versions, version.project) %>
            <div class="contextual ml-auto">
              <%= link_to edit_version_path(version), :class => 'icon icon-edit hidden group-hover:flex hover:bg-gray-50 font-medium rounded-full text-sm p-2  dark:bg-gray-800 dark:hover:bg-gray-900 focus:outline-none dark:focus:ring-blue-800', :accesskey => accesskey(:edit) do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
              <% end %>
            </div>
          <% end %>
          </header>
          <%= render :partial => 'versions/overview', :locals => {:version => version} %>
          <%= render(:partial => "wiki/content",
                    :locals => {:content => version.wiki_page.content}) if version.wiki_page %>
          <% if (issues = @issues_by_version[version]) && issues.size > 0 %>
            <%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
              <% issues.each do |issue| -%>
                <div class="hascontextmenu <%= issue.css_classes %> shadow p-4 my-4 flex flex-col">
                  <div class="checkbox flex flex-wrap items-center">
                    <%= check_box_tag 'ids[]', issue.id, false, :id => nil %>
                    <%= assignee_avatar(issue.assigned_to, :size => 16) %>

                    <%= link_to_issue(issue, :project => (@project != issue.project)) %>
                  </div>

                </div>
              <% end -%>

            <% end %>
          <% end %>
          <%= call_hook :view_projects_roadmap_version_bottom, :version => version %>
        </article>
      </div>
      <% end %>
    </div>
  </div>
<% end %>


<% html_title(l(:label_roadmap)) %>

<%= context_menu %>
