
<div class="ml-14 md:ml-60">
  <div class="bg-white dark:bg-slate-700 shadow">
    <div data-controller="contextual" class="contextual px-4  py-2 grid grid-cols-1 md:grid-cols-3 justify-items-stretch gap-0 w-full">
      <div></div>
      <div></div>
      <div class="flex w-full justify-end">
        <%= link_to l(:label_tracker_new), new_tracker_path, :class => 'icon icon-summary mr-3 button-blue' %>
        <%= link_to l(:field_summary), fields_trackers_path, :class => 'icon icon-add button-second' %>
      </div>
    </div>
  </div>

  <div class="mx-4 my-6 md:my-0">
    <div class="dark:bg-gray-800 relative overflow-x-auto h-fit mr-8 w-full bg-white shadow p-8   mb-8 mt-0 md:mt-8 flex flex-col">
      <table class="list trackers table table-bordered">
        <thead>
          <tr>
            <th><%=l(:label_tracker)%></th>
            <th><%=l(:field_default_status)%></th>
            <th><%=l(:field_description)%></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% for tracker in @trackers %>
          <tr>
            <td class="name"><%= link_to tracker.name, edit_tracker_path(tracker) %></td>
            <td ><%= tracker.default_status.name %></td>
            <td class="description"><%= tracker.description %></td>
            <td>
              <% unless tracker.workflow_rules.exists? %>
                <span class="icon icon-warning">
                  <%= l(:text_tracker_no_workflow) %> (<%= link_to l(:button_edit), edit_workflows_path(:tracker_id => tracker) %>)
                </span>
              <% end %>
            </td>
            <td class="buttons">
              <%= link_to l(:button_copy), new_tracker_path(:copy => tracker), :class => 'icon icon-copy mr-3' %>
              <%= delete_link tracker_path(tracker), class: "mr-3" %>
              <%= reorder_handle(tracker) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% html_title(l(:label_tracker_plural)) -%>

    <%= javascript_tag do %>
      $(function() { $("table.trackers tbody").positionedItems(); });
    <% end %>
  </div>
</div>