<ol id="activity" class="relative border-s border-gray-200 dark:border-gray-700">
  <% events_by_day.keys.sort.reverse_each do |day| %>
    <h3 class="my-4 text-xs font-medium ml-6"><%= format_activity_day(day) %></h3>
    <li class="mb-10 ms-6">
    <% sort_activity_events(events_by_day[day]).each do |e, in_group| -%>
      <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        <% if e.respond_to?(:event_author) %>
        <div class="rounded-full shadow-lg">
          <%= avatar(e.event_author) %></div>
        <% end %>
      </span>
      <div class="w-full items-start mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
        <% if @project.nil? || @project != e.project %>
          <%= link_to project_path(e.project),:class => 'uppercase mr-3 flex items-center text-gray-800 font-light text-sm  p-1 hover:bg-gray-100 transition ease-in-out delay-75' do %>
            <%= letter_avatar_tag(e.project.name, 300, class: 'w-8 h-8') %></span>
          <% end %>
        <% end %>
        <div class="flex flex-col w-full">
          <div class="flex">
            <div class="flex">
              <span class="author mr-3"><%= link_to_user(e.event_author) if e.respond_to?(:event_author) %></span>
            </div>
            <time class="ml-auto  text-xs font-normal text-gray-400 sm:order-last sm:mb-0"><%= format_time(e.event_datetime, false) %></time>
          </div>
          <div class="text-sm w-full mr-3 font-normal text-gray-500 dark:text-gray-300">
            <div class="<%= e.event_type %> icon icon-<%= e.event_type %> <%= "grouped" if in_group %> <%= User.current.logged? && e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil %>">
              <div class="flex">
                <%= link_to format_activity_title(e.event_title), e.event_url %>
              </div>
              <% if e && e.event_description && e.event_description.length > 0 %>
              <div class="<%= "grouped" if in_group %>  w-full text-xs bg-gray-50 rounded-md text-gray-700 p-4 my-2">
                <span class="description"><%= format_activity_description(e.event_description) %></span>
              </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
    </li>
  <% end -%>
</ol>



<!--
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <img class="rounded-full shadow-lg" src="/docs/images/people/profile-picture-3.jpg" alt="Bonnie image"/>
        </span>
        <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
            <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">just now</time>
            <div class="text-sm font-normal text-gray-500 dark:text-gray-300">Bonnie moved <a href="#" class="font-semibold text-blue-600 dark:text-blue-500 hover:underline">Jese Leos</a> to <span class="bg-gray-100 text-gray-800 text-xs font-normal me-2 px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300">Funny Group</span></div>
        </div>
    </li>
    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <img class="rounded-full shadow-lg" src="/docs/images/people/profile-picture-5.jpg" alt="Thomas Lean image"/>
        </span>
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600">
            <div class="items-center justify-between mb-3 sm:flex">
                <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">2 hours ago</time>
                <div class="text-sm font-normal text-gray-500 lex dark:text-gray-300">Thomas Lean commented on  <a href="#" class="font-semibold text-gray-900 dark:text-white hover:underline">Flowbite Pro</a></div>
            </div>
            <div class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300">Hi ya'll! I wanted to share a webinar zeroheight is having regarding how to best measure your design system! This is the second session of our new webinar series on #DesignSystems discussions where we'll be speaking about Measurement.</div>
        </div>
    </li>
    <li class="ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <img class="rounded-full shadow-lg" src="/docs/images/people/profile-picture-1.jpg" alt="Jese Leos image"/>
        </span>
        <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
            <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">1 day ago</time>
            <div class="text-sm font-normal text-gray-500 lex dark:text-gray-300">Jese Leos has changed <a href="#" class="font-semibold text-blue-600 dark:text-blue-500 hover:underline">Pricing page</a> task status to  <span class="font-semibold text-gray-900 dark:text-white">Finished</span></div>
        </div>
    </li>
</ol>

-->