

<aside id="sidebar" data-sidebar-target="sidebar" class="w-96 z-50 shadow-lg p-8 bg-white border-l border-gray-50 dark:bg-gray-800 fixed top-14 right-0 h-full hidden">
  <%= form_tag({}, :method => :get, :id => 'activity_scope_form') do %>
  <p>
    <%= t(:label_days_to_html, :days => @days, :date => date_field_tag('from', '', :value => (@date_to - 1), :size => 10)) %>
    <%= calendar_for('from') %>
  </p>
  <p>
    <%= l(:label_user) %>
    <%= select_tag('user_id', activity_authors_options_for_select(@project, params[:user_id]), include_blank: true) %>
  </p>
  <ul>
  <% @activity.event_types.each do |t| %>
    <li>
      <%= check_box_tag "show_#{t}", 1, @activity.scope.include?(t) %>
      <label for="show_<%=t%>">
        <%= link_to(l("label_#{t.singularize}_plural"),
                    {"show_#{t}" => 1, :user_id => params[:user_id], :from => params[:from]})%>
      </label>
    </li>
  <% end %>
  </ul>
  <% if @project && @project.descendants.active.any? %>
      <%= hidden_field_tag 'with_subprojects', 0, :id => nil %>
      <p><label><%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_subproject_plural)%></label></p>
  <% end %>
  <p><%= submit_tag l(:button_apply), :class => 'button-small', :name => 'submit' %></p>
  <% end %>
</aside>