<div class="buttons flex items-center bg-white dark:bg-gray-800 w-full shadow p-4 text-sm mb-4">
  <h2 class="uppercase text-gray-600 mr-3"><%= @author.nil? ? l(:label_activity) : l(:label_user_activity, link_to_user(@author)).html_safe %></h2>
  <p class="subtitle text-gray-400 text-xs"><%= l(:label_date_from_to, :start => format_date(@date_to - @days), :end => format_date(@date_to-1)) %></p>


  <div data-controller="sidebar" class="ml-auto">
    <div data-action="click->sidebar#toggle" class="text-gray-900 mr-3 cursor-pointer flex items-center justify-center bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm p-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
      </svg>
    </div>
    <div>
      <%= render :partial => 'activities/sidebar' %>
    </div>
  </div>
</div>

<div class="flex h-[calc(100vh-200px)] overflow-y-auto bg-white dark:bg-gray-800 w-full shadow p-4 text-sm mb-4">
<%= render :partial => 'activities/activities', :locals => {:events_by_day => @events_by_day} %>
<%= content_tag('p', l(:label_no_data), :class => 'nodata') if @events_by_day.empty? %>
</div>

<span class="pagination">
  <ul class="pages">
    <li class="previous page">
<%= link_to("\xc2\xab " + l(:label_previous),
                   {:params => request.query_parameters.merge(:from => @date_to - @days - 1)},
                   :title => l(:label_date_from_to, :start => format_date(@date_to - 2*@days), :end => format_date(@date_to - @days - 1)),
                   :accesskey => accesskey(:previous)) %>
    </li><% unless @date_to > User.current.today %><li class="next page">
<%= link_to(l(:label_next) + " \xc2\xbb",
                   {:params => request.query_parameters.merge(:from => @date_to + @days - 1)},
                   :title => l(:label_date_from_to, :start => format_date(@date_to), :end => format_date(@date_to + @days - 1)),
                   :accesskey => accesskey(:next)) %></li><% end %>
  </ul>
</span>
&nbsp;
<% other_formats_links do |f| %>
  <%= f.link_to_with_query_parameters 'Atom', 'from' => nil, :key => User.current.atom_key %>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, :params => request.query_parameters.merge(:from => nil, :key => User.current.atom_key), :format => 'atom') %>
<% end %>



<% html_title(l(:label_activity), @author) -%>
