<nav id="main-navbar" data-controller="navbar" class="bg-white h-14 dark:bg-gray-800 fixed w-full z-49 top-0 left-0 shadow dark:border-gray-600">
  <div class="flex mx-auto h-full">

    <%
      bg_color = Setting.plugin_redmine_asap_theme['redmine_asap_colors_logo_bg']
      hover_bg_color = Setting.plugin_redmine_asap_theme['redmine_asap_colors_logo_bg_hover']
    %>
    <%= link_to home_path(), :title => Setting.app_title, :class=>"flex h-14 text-blue-50 dark:bg-blue-900 cursor-pointer p-2 flex items-center justify-center", style: "background-color:#{bg_color}", :onmouseover=>"this.style.backgroundColor='#{hover_bg_color}'", :onmouseout=>"this.style.backgroundColor='#{bg_color}'" do %>
      <%= image_tag 'redmine_white.svg', :plugin => 'redmine_asap_theme', class: 'w-10 h-10 max-w-none' %>
    <% end %>
    <div id="project-breadcrumb" class="hidden sm:flex items-center">
      <%= project_parent_breadcrumb %>
    </div>

    <%= render "layouts/project-menu" %>

    <div class="ml-auto hidden md:flex">
      <%= render "layouts/navbar-right-menu" %>
    </div>

  </div>
</nav>

<div class="flex z-50 fixed md:hidden bottom-0 w-full h-14 bg-white shadow-2xl items-center justify-center">
  <%= render "layouts/navbar-right-menu" %>
</div>