<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title><%= html_title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'jquery/jquery-ui-1.13.2', 'tribute-5.1.3',  'responsive', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= stylesheet_link_tag "application.css", :plugin => 'redmine_asap_theme' %>
<%= javascript_include_tag 'stimulus.umd.js', :plugin => 'redmine_asap_theme' %>
<%= javascript_include_tag 'application.js', :type => "module", :plugin => 'redmine_asap_theme' %>
<%= javascript_heads %>
<%= heads_for_theme %>
<%= heads_for_auto_complete(@project) %>
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body  class="<%= body_css_classes %> h-full dark:bg-slate-900">

  <% if User.current.logged? || !Setting.login_required? %>
    <%= render "layouts/navbar" %>
  <% end %>

  <main class="w-full h-full dark:bg-slate-800 dark:text-gray-400 mt-14">
    <%= call_hook :view_layouts_base_body_top %>

    <% if controller_name == "issues" && action_name == "show" %>
      <div data-controller="issue" class="flex bg-gray-50 dark:bg-slate-900 h-full">
        <aside data-issue-target="navigation" class="w-72 shadow bg-white dark:bg-gray-800 fixed top-14 left-0 h-full hidden">
          <div class="flex flex-col h-full overflow-y-auto">
            <div class="w-full text-gray-600 dark:text-gray-200 border-b border-gray-50 dark:border-gray-600 py-4">
              <% if @prev_issue_id || @next_issue_id %>
                <div class="next-prev-links contextual flex justify-center">
                  <% if @prev_issue_id %>
                    <%= link_to_if @prev_issue_id,
                                  "\xc2\xab #{l(:label_previous)}",
                                  (@prev_issue_id ? issue_path(@prev_issue_id) : nil),
                                  :title => "##{@prev_issue_id}",
                                  :accesskey => accesskey(:previous),
                                  class: 'mr-2 hover:text-gray-800 dark:hover:text-gray-50' %> |
                  <% end %>
                  <% if @issue_position && @issue_count %>
                    <span class="position mx-2 hover:text-gray-800 dark:hover:text-gray-50">
                      <%= link_to_if @query_path,
                                    l(:label_item_position, :position => @issue_position, :count => @issue_count),
                                    @query_path %>
                    </span>
                  <% end %>
                  <% if @next_issue_id %>
                  |
                    <%= link_to_if @next_issue_id,
                                  "#{l(:label_next)} \xc2\xbb",
                                  (@next_issue_id ? issue_path(@next_issue_id) : nil),
                                  :title => "##{@next_issue_id}",
                                  :accesskey => accesskey(:next),
                                  class: 'ml-2 hover:text-gray-800 dark:hover:text-gray-50' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% @issues.each do |issue| %>
            <%= link_to issue_path(issue), class:"flex flex-col text-gray-900 dark:text-gray-100 hover:bg-gray-50 dark:hover:bg-gray-900 cursor-pointer hover:border-l-2 hover:border-l-blue-800 border-b border-b-gray-50 dark:border-b-gray-600 hover:pl-3.5 p-4 text-sm" do %>
              <div class="flex items-center">
                <div class="mr-2">#<%= issue.id %></div>
                <%= issue.subject %>
              </div>
              <% if issue.description? %>
              <div class="text-xs text-gray-700 dark:text-gray-100 font-thin ml-6">
                <% the_text = textilizable issue, :description %>
                <%= the_text.truncate(100) %>
              </div>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </aside>
        <section  data-issue-target="section" id="content" class="w-full bg-gray-50 dark:bg-slate-900 h-full flex ml-8 mr-80">
          <%= yield %>
          <%= call_hook :view_layouts_base_content %>
          <div style="clear:both;"></div>
        </section>
      </div>
    <% else %>
      <section id="content" class="p-8 md:px-16 mb-auto w-full  h-full">
        <%= render_flash_messages %>
        <%= yield %>
        <%= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
      </section>
    <% end %>
  </main>

  <!--
  <footer id="footer">
      Powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %> &copy; 2006-2023 Jean-Philippe Lang
  </footer>
  -->

  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
  <div id="ajax-modal" style="display:none;"></div>

  <%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
