<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title><%= html_title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= csrf_meta_tag %>
<%= favicon %>
<%#= stylesheet_link_tag 'jquery/jquery-ui-1.13.2', 'tribute-5.1.3',  'responsive', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= stylesheet_link_tag "application.css", :plugin => 'redmine_asap_theme' %>
<%= javascript_include_tag 'stimulus.umd.js', :plugin => 'redmine_asap_theme' %>

<%= javascript_include_tag 'application.js', :type => "module", :plugin => 'redmine_asap_theme' %>
<%= javascript_heads %>
<%= heads_for_theme %>
<%= javascript_include_tag 'turbo.es2017-umd.js.js', :plugin => 'redmine_asap_theme' %>
<%= heads_for_auto_complete(@project) %>
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body  data-controller="application"  data-application-myaccount-value="<%= show_settings_path(User.current) %>" class="<%= body_css_classes %> h-full dark:bg-slate-900">

  <% if User.current.logged? || !Setting.login_required? %>
    <%= render "layouts/navbar" %>
  <% end %>

  <main class="w-full h-full dark:bg-slate-900 dark:text-gray-400 mt-14">
    <%= call_hook :view_layouts_base_body_top %>

    <% if controller_name == "issues" && action_name == "show" %>
      <div data-controller="issue" class="flex bg-gray-50 dark:bg-slate-900 h-full">
        <%= render "issues/sidebar" %>
        <section  data-issue-target="section" id="content" class="w-full bg-gray-50 dark:bg-slate-900 h-full flex ml-8 mr-80">
          <%= yield %>
          <%= call_hook :view_layouts_base_content %>
          <div style="clear:both;"></div>
        </section>
      </div>
    <% elsif controller_name == "calendars" %>
      <section id="content" class="p-8 md:px-16 mb-auto w-full  h-full bg-gray-50 dark:bg-slate-900">
        <%= render_flash_messages %>
        <%= yield %>
        <%= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
      </section>
    <% else %>
      <div id="sidebar">
        <%= yield :sidebar %>
        <%= view_layouts_base_sidebar_hook_response %>
      </div>
      <section id="content" class="p-8 lg:px-16 mb-auto w-full  h-full">
        <%= render_flash_messages %>
        <%= yield %>
        <%= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
      </section>
    <% end %>
  </main>

  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
  <div id="ajax-modal" style="display:none;"></div>

  <%= render "common/about" %>

  <div data-application-target="app"></div>
  <%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
